9 Lesson blueprint/for_n8n_1.9_Twitter_AI_feed.json
{
  "name": "Twitter_AI feed",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let raw = item.json.contentSnippet || \"\";          // ← здесь\n// (если literal \"\\n\" нужно конвертировать, сделайте .split(\"\\\\n\").join(\"\\n\") )\nlet cleaned = raw\n  .replace(/https?:\\/\\/\\S+/g, \"\")                  // ссылки\n  .replace(/#[\\w\\d_]+/g, \"\")                       // хэштеги\n  .replace(/@[\\w\\d_]+/g, \"\")                       // упоминания\n  .replace(/[ \\t]{2,}/g, \" \")                      // лишние пробелы\n  .replace(/\\n{3,}/g, \"\\n\\n\")                      // >2 пустых строк → 1\n  .trim();\n\n// сохраняем обратно в тот же key\nitem.json.contentSnippet = cleaned;                // ← и здесь\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        240
      ],
      "id": "8b4867e0-7849-4bfc-b138-f70b5090bd57",
      "name": "Удаление мусора"
    },
    {
      "parameters": {
        "chatId": "-1001381692730",
        "text": "=<b>Оригинальный Твит:</b> {{ $('Перевод').item.json.choices[0].message.content }} - {{ $('Твит').item.json.link }}\n\n<b>Разбор:</b> {{ $json.choices[0].message.content }}\n\n<b>Лента AI Feed:</b> Те, кто пытаются что-то делать руками и иногда можно найти что-то полезное: https://x.com/i/lists/1936350052194386241",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        240
      ],
      "id": "4270790a-6390-4b27-9318-5464ed86c5a4",
      "name": "Телеграм",
      "webhookId": "abf5d929-172a-4000-971b-dac137dfb52c",
      "credentials": {
        "telegramApi": {
          "id": "kwX9s2KoZT3g0H8V",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43470c2a-f4bd-430f-8496-bf42ff2a3292",
              "leftValue": "={{ $json.title }}",
              "rightValue": "RT @",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        -240
      ],
      "id": "d0760334-3bd7-409c-9fd0-c60161e95ad9",
      "name": "Да \"RT @"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43470c2a-f4bd-430f-8496-bf42ff2a3292",
              "leftValue": "={{ $json.title }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9910f0ec-f0c5-405f-b7db-0aa6f8f6b127",
              "leftValue": "={{ $json.title }}",
              "rightValue": "RT @",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        0
      ],
      "id": "a1a74a83-79d7-41a9-be08-ae737016b9e5",
      "name": "Да \"@"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43470c2a-f4bd-430f-8496-bf42ff2a3292",
              "leftValue": "={{ $json.title }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "7e0bd6c3-e865-48bb-94dc-66aabd23e490",
              "leftValue": "={{ $json.title }}",
              "rightValue": "RT @",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        240
      ],
      "id": "115227a8-a32f-4e8b-affe-d2b6b2d60a1f",
      "name": "Твит"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1) исходный текст\nconst raw = item.json.contentSnippet || \"\";\n\n// 2) чистка\nlet text = raw\n  .split(\"\\\\n\").join(\"\\n\")\n  .replace(/<[^>]+>/g, \"\")\n  .replace(/\\[https?:\\/\\/[^\\]]+\\]/g, \"\")\n  .replace(/https?:\\/\\/\\S+/g, \"\")\n  .replace(/pic\\.twitter\\.com\\/\\S+/gi, \"\") // убираем pic.twitter.com/…\n  .replace(/#[\\w\\d_]+/g, \"\")\n  .replace(/@[\\w\\d_]+/g, \"\")\n  .replace(/[ \\t]{2,}/g, \" \")\n  .replace(/\\n{3,}/g, \"\\n\\n\")\n  .trim();\n\n// 3) пишем обратно и возвращаем\nitem.json.contentSnippet = text;\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        240
      ],
      "id": "d5e1fe04-5cf3-44e5-b8fa-79b37b947c34",
      "name": "replace(/cc:\\s*pic"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://rss.app/feeds/BUxLtPfKTfrpPTzr.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        0
      ],
      "id": "af3dfb1e-0cc0-4b7d-b14c-34a24c34cf9e",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Translate this into Russian as accurately as possible, taking into account the contexts",
              "role": "system"
            },
            {
              "content": "={{ $json.contentSnippet }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        240
      ],
      "id": "60f9900c-8a37-4468-9c7e-0812169b323f",
      "name": "Перевод",
      "credentials": {
        "openAiApi": {
          "id": "HNspK7aWjsgYrzHc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Analyze this text and try to comment on what is meant here and how it relates to the ability to create something. Are these new opportunities or threats? The final text should not exceed approximately 1000 characters or approximately 200 words.",
              "role": "system"
            },
            {
              "content": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1320,
        240
      ],
      "id": "f81a2c75-b9aa-4133-9ad7-544b94463609",
      "name": "Комментарий",
      "credentials": {
        "openAiApi": {
          "id": "HNspK7aWjsgYrzHc",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Удаление мусора": {
      "main": [
        [
          {
            "node": "replace(/cc:\\s*pic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Твит": {
      "main": [
        [
          {
            "node": "Удаление мусора",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "replace(/cc:\\s*pic": {
      "main": [
        [
          {
            "node": "Перевод",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Да \"RT @",
            "type": "main",
            "index": 0
          },
          {
            "node": "Да \"@",
            "type": "main",
            "index": 0
          },
          {
            "node": "Твит",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Да \"@": {
      "main": [
        []
      ]
    },
    "Да \"RT @": {
      "main": [
        []
      ]
    },
    "Перевод": {
      "main": [
        [
          {
            "node": "Комментарий",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Комментарий": {
      "main": [
        [
          {
            "node": "Телеграм",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1271f781-3dcd-49f0-86d1-0946dda5a349",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6d75b3a10ac990baeac979361444e13968039955b88afe4d9f2bbb685dc10b1"
  },
  "id": "jgjpLC3oefbt7IaJ",
  "tags": []
}