Make.com/VK/Блюпринт с модулями VK.json
{
    "name": "Блюпринт с модулями VK",
    "flow": [
        {
            "id": 9,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3933155
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "Ты – копирайтер Твоя задача - информировать и развлекать читателей, следуя этим правилам. Пишешь посты в ВК\n\n​"
                    },
                    {
                        "role": "user",
                        "content": "Напиши пост в ВК на русском языке\n\n\nНапиши в формате поста в ВК",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "300",
                "temperature": "1.0",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": -837,
                    "y": -610,
                    "name": "текст"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)"
                        },
                        "top_p": {
                            "empty": true
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "Maya"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ],
                                                        "advanced": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted outputs"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ],
                                                        "advanced": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted outputs"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "app#vkplus-nqbpd7:postwalli",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5317773
            },
            "mapper": {
                "message": "{{9.result}}"
            },
            "metadata": {
                "designer": {
                    "x": -490,
                    "y": -615
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "app#vkplus-nqbpd710"
                            },
                            "label": "2134123452234234 ( )"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:app#vkplus-nqbpd710",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "message",
                        "type": "text",
                        "label": "💬 Текст поста"
                    },
                    {
                        "name": "attachments",
                        "type": "text",
                        "label": "📎 Вложения (опционально)"
                    },
                    {
                        "name": "publish_date",
                        "type": "uinteger",
                        "label": "📅 Отложенная публикация"
                    },
                    {
                        "name": "lat",
                        "type": "text",
                        "label": "📍 Широта (опционально)"
                    },
                    {
                        "name": "long",
                        "type": "text",
                        "label": "📍 Долгота (опционально)"
                    },
                    {
                        "name": "place_id",
                        "type": "uinteger",
                        "label": "📌 ID локации (опционально)"
                    },
                    {
                        "name": "guid",
                        "type": "text",
                        "label": "🔄 Уникальный ID (опционально)"
                    },
                    {
                        "name": "donut_paid_duration",
                        "type": "uinteger",
                        "label": "💰 Доступ для донов (опционально)"
                    },
                    {
                        "name": "copyright",
                        "type": "text",
                        "label": "📝 Источник (опционально)"
                    },
                    {
                        "name": "link_title",
                        "type": "text",
                        "label": "🔗 Заголовок ссылки (опционально)"
                    },
                    {
                        "name": "link_photo_id",
                        "type": "text",
                        "label": "🖼 Фото ссылки (опционально)"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 1,
                        "module": "http:ActionGetFile",
                        "version": 3,
                        "parameters": {
                            "handleErrors": false
                        },
                        "mapper": {
                            "url": "https://mayai.ru/wp-content/uploads/2024/09/IMG_4201.mp4",
                            "method": "get",
                            "serializeUrl": false,
                            "shareCookies": false
                        },
                        "metadata": {
                            "designer": {
                                "x": -940,
                                "y": 782,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {},
                            "parameters": [
                                {
                                    "name": "handleErrors",
                                    "type": "boolean",
                                    "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "url",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "serializeUrl",
                                    "type": "boolean",
                                    "label": "Serialize URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "hidden",
                                    "label": "Method"
                                },
                                {
                                    "name": "shareCookies",
                                    "type": "boolean",
                                    "label": "Share cookies with other HTTP modules",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 2,
                        "module": "app#vkplus-nqbpd7:videoSave",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 5341108
                        },
                        "mapper": {
                            "name": "Тест 1",
                            "repeat": true,
                            "group_id": "47102734",
                            "wallpost": true,
                            "is_private": false,
                            "description": "тест 2",
                            "no_comments": false
                        },
                        "metadata": {
                            "designer": {
                                "x": -580,
                                "y": 774
                            },
                            "restore": {
                                "expect": {
                                    "repeat": {
                                        "mode": "chose"
                                    },
                                    "wallpost": {
                                        "mode": "chose"
                                    },
                                    "is_private": {
                                        "mode": "chose"
                                    },
                                    "no_comments": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "app#vkplus-nqbpd710"
                                        },
                                        "label": "ВСЕ ПРАВА ( )"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:app#vkplus-nqbpd710",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "📝 Название"
                                },
                                {
                                    "name": "description",
                                    "type": "text",
                                    "label": "📄 Описание"
                                },
                                {
                                    "name": "is_private",
                                    "type": "boolean",
                                    "label": "🔒 Приватное"
                                },
                                {
                                    "name": "wallpost",
                                    "type": "boolean",
                                    "label": "📌 Опубликовать на стене"
                                },
                                {
                                    "name": "link",
                                    "type": "url",
                                    "label": "🌍 Ссылка на видео"
                                },
                                {
                                    "name": "group_id",
                                    "type": "uinteger",
                                    "label": "👥 ID группы"
                                },
                                {
                                    "name": "album_id",
                                    "type": "uinteger",
                                    "label": "📔 ID альбома"
                                },
                                {
                                    "name": "privacy_view",
                                    "type": "text",
                                    "label": "👀 Настройки приватности просмотра"
                                },
                                {
                                    "name": "privacy_comment",
                                    "type": "text",
                                    "label": "💬 Настройки приватности комментариев"
                                },
                                {
                                    "name": "no_comments",
                                    "type": "boolean",
                                    "label": "🔕 Отключить комментарии"
                                },
                                {
                                    "name": "repeat",
                                    "type": "boolean",
                                    "label": "🔁 Зациклить воспроизведение"
                                }
                            ]
                        }
                    },
                    {
                        "id": 3,
                        "module": "app#vkplus-nqbpd7:Uploadvideo",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "file_data": "{{1.data}}",
                            "file_name": "{{1.fileName}}",
                            "upload_url": "{{2.response.upload_url}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": -280,
                                "y": 774
                            },
                            "restore": {},
                            "expect": [
                                {
                                    "name": "upload_url",
                                    "type": "url",
                                    "label": "🌍 URL для загрузки",
                                    "required": true
                                },
                                {
                                    "name": "file_data",
                                    "type": "buffer",
                                    "label": "📂 Видео файл",
                                    "required": true
                                },
                                {
                                    "name": "file_name",
                                    "type": "filename",
                                    "label": "📝 Имя файла",
                                    "required": true
                                }
                            ]
                        }
                    }
                ],
                [
                    {
                        "id": 4,
                        "module": "http:ActionGetFile",
                        "version": 3,
                        "parameters": {
                            "handleErrors": false
                        },
                        "mapper": {
                            "url": "https://mayai.ru/wp-content/uploads/2025/02/optimizatsiya-biznesa-wildberries-ozon-make-com-gaid-avtomatizatsiya-proczessov-uspeha.png",
                            "method": "get",
                            "serializeUrl": false,
                            "shareCookies": false
                        },
                        "metadata": {
                            "designer": {
                                "x": -934,
                                "y": 426,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {},
                            "parameters": [
                                {
                                    "name": "handleErrors",
                                    "type": "boolean",
                                    "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "url",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "serializeUrl",
                                    "type": "boolean",
                                    "label": "Serialize URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "hidden",
                                    "label": "Method"
                                },
                                {
                                    "name": "shareCookies",
                                    "type": "boolean",
                                    "label": "Share cookies with other HTTP modules",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 5,
                        "module": "app#vkplus-nqbpd7:test",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 5317773
                        },
                        "mapper": {
                            "album_id": "170763392",
                            "group_id": "47102734"
                        },
                        "metadata": {
                            "designer": {
                                "x": -579,
                                "y": 414
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "app#vkplus-nqbpd710"
                                        },
                                        "label": "2134123452234234 ( )"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:app#vkplus-nqbpd710",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "album_id",
                                    "type": "uinteger",
                                    "label": "📸 ID альбома"
                                },
                                {
                                    "name": "group_id",
                                    "type": "integer",
                                    "label": "🆔 ID группы"
                                }
                            ]
                        }
                    },
                    {
                        "id": 6,
                        "module": "app#vkplus-nqbpd7:uploadPhoto",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 5317773
                        },
                        "mapper": {
                            "group_id": "47102734",
                            "file_data": "{{4.data}}",
                            "file_name": "{{4.fileName}}",
                            "upload_url": "{{5.response.upload_url}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": -171,
                                "y": 400
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "app#vkplus-nqbpd710"
                                        },
                                        "label": "2134123452234234 ( )"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:app#vkplus-nqbpd710",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "upload_url",
                                    "type": "url",
                                    "label": "🌍 URL для загрузки",
                                    "required": true
                                },
                                {
                                    "name": "group_id",
                                    "type": "integer",
                                    "label": "🆔 ID группы",
                                    "required": true
                                },
                                {
                                    "name": "file_data",
                                    "type": "buffer",
                                    "label": "📂 Файл изображения",
                                    "required": true
                                },
                                {
                                    "name": "file_name",
                                    "type": "filename",
                                    "label": "📝 Имя файла",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 7,
                        "module": "app#vkplus-nqbpd7:testtt",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 5317773
                        },
                        "mapper": {
                            "hash": "{{6.hash}}",
                            "server": "{{6.server}}",
                            "album_id": "170763392",
                            "group_id": "47102734",
                            "photos_list": "{{6.photos_list}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 223,
                                "y": 402
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "app#vkplus-nqbpd710"
                                        },
                                        "label": "2134123452234234 ( )"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:app#vkplus-nqbpd710",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "album_id",
                                    "type": "integer",
                                    "label": "🆔 ID альбома",
                                    "required": true
                                },
                                {
                                    "name": "group_id",
                                    "type": "integer",
                                    "label": "👥 ID группы"
                                },
                                {
                                    "name": "server",
                                    "type": "integer",
                                    "label": "🖥 ID сервера",
                                    "required": true
                                },
                                {
                                    "name": "photos_list",
                                    "type": "text",
                                    "label": "📜 Список фото (JSON)",
                                    "required": true
                                },
                                {
                                    "name": "hash",
                                    "type": "text",
                                    "label": "🔑 Хеш",
                                    "required": true
                                }
                            ]
                        }
                    }
                ],
                [
                    {
                        "id": 11,
                        "module": "openai-gpt-3:CreateCompletion",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 3933155
                        },
                        "mapper": {
                            "model": "gpt-4o-mini",
                            "select": "chat",
                            "messages": [
                                {
                                    "role": "system",
                                    "content": "Ты – копирайтер Твоя задача - информировать и развлекать читателей, следуя этим правилам. Пишешь посты в ВК\n\n​"
                                },
                                {
                                    "role": "user",
                                    "content": "Напиши пост в ВК на русском языке\n\n\nНапиши в формате поста в ВК",
                                    "imageDetail": "auto"
                                }
                            ],
                            "max_tokens": "300",
                            "temperature": "1.0",
                            "n_completions": "1",
                            "response_format": "text"
                        },
                        "metadata": {
                            "designer": {
                                "x": -826,
                                "y": -277,
                                "name": "текст",
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "stop": {
                                        "mode": "chose"
                                    },
                                    "model": {
                                        "mode": "chose",
                                        "label": "gpt-4o-mini (system)"
                                    },
                                    "top_p": {
                                        "empty": true
                                    },
                                    "select": {
                                        "label": "Create a Chat Completion (GPT and o1 models)"
                                    },
                                    "messages": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "role": {
                                                    "mode": "chose",
                                                    "label": "Developer / System"
                                                }
                                            },
                                            {
                                                "role": {
                                                    "mode": "chose",
                                                    "label": "User"
                                                },
                                                "imageDetail": {
                                                    "mode": "chose",
                                                    "label": "Auto"
                                                },
                                                "imageInputType": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                }
                                            }
                                        ]
                                    },
                                    "logit_bias": {
                                        "mode": "chose"
                                    },
                                    "response_format": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "additionalParameters": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "openai-gpt-3"
                                        },
                                        "label": "Maya"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:openai-gpt-3",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "select",
                                    "type": "select",
                                    "label": "Select Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "chat",
                                            "prompt"
                                        ]
                                    }
                                },
                                {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature",
                                    "validate": {
                                        "max": 2,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "top_p",
                                    "type": "number",
                                    "label": "Top P",
                                    "validate": {
                                        "max": 1,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "n_completions",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "frequency_penalty",
                                    "type": "number",
                                    "label": "Frequency Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "presence_penalty",
                                    "type": "number",
                                    "label": "Presence Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "logit_bias",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "token",
                                                "type": "text",
                                                "label": "Token ID",
                                                "required": true
                                            },
                                            {
                                                "name": "probability",
                                                "type": "number",
                                                "label": "Probability",
                                                "required": true,
                                                "validate": {
                                                    "max": 100,
                                                    "min": -100
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Token Probability"
                                    },
                                    "type": "array",
                                    "label": "Token Probability"
                                },
                                {
                                    "name": "seed",
                                    "type": "integer",
                                    "label": "Seed"
                                },
                                {
                                    "name": "stop",
                                    "spec": {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Stop Sequence"
                                    },
                                    "type": "array",
                                    "label": "Stop Sequences",
                                    "validate": {
                                        "maxItems": 4
                                    }
                                },
                                {
                                    "name": "additionalParameters",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Parameter Name",
                                                "required": true
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Input Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Parameter Value"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Number",
                                                        "value": "number",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "number",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Boolean",
                                                        "value": "boolean",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "boolean",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Date",
                                                        "value": "date",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "date",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Any",
                                                        "value": "any",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameter"
                                    },
                                    "type": "array",
                                    "label": "Other Input Parameters"
                                },
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "max_tokens",
                                    "type": "uinteger",
                                    "label": "Max Completion Tokens"
                                },
                                {
                                    "name": "messages",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": {
                                                    "store": [
                                                        {
                                                            "label": "Developer / System",
                                                            "value": "system",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "User",
                                                            "value": "user",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                },
                                                                {
                                                                    "name": "imageInputType",
                                                                    "type": "select",
                                                                    "label": "Image Input Type",
                                                                    "options": [
                                                                        {
                                                                            "label": "URL",
                                                                            "value": "url",
                                                                            "nested": [
                                                                                {
                                                                                    "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                                    "name": "imageUrl",
                                                                                    "type": "url",
                                                                                    "label": "Image URL"
                                                                                }
                                                                            ]
                                                                        },
                                                                        {
                                                                            "label": "Image File",
                                                                            "value": "file",
                                                                            "nested": [
                                                                                {
                                                                                    "name": "imageFile",
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                            "name": "imageFilename",
                                                                                            "type": "filename",
                                                                                            "label": "Image Filename",
                                                                                            "semantic": "file:name",
                                                                                            "extension": [
                                                                                                "jpg",
                                                                                                "jpeg",
                                                                                                "png",
                                                                                                "webp",
                                                                                                "gif"
                                                                                            ]
                                                                                        },
                                                                                        {
                                                                                            "name": "imageData",
                                                                                            "type": "buffer",
                                                                                            "label": "Image Data",
                                                                                            "semantic": "file:data"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Image"
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "mappable": false
                                                                },
                                                                {
                                                                    "name": "imageDetail",
                                                                    "type": "select",
                                                                    "label": "Image Detail",
                                                                    "options": [
                                                                        {
                                                                            "label": "Auto",
                                                                            "value": "auto",
                                                                            "default": true
                                                                        },
                                                                        {
                                                                            "label": "High",
                                                                            "value": "high"
                                                                        },
                                                                        {
                                                                            "label": "Low",
                                                                            "value": "low"
                                                                        }
                                                                    ],
                                                                    "advanced": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Message"
                                    },
                                    "type": "array",
                                    "label": "Messages",
                                    "required": true
                                },
                                {
                                    "name": "response_format",
                                    "type": "select",
                                    "label": "Response Format",
                                    "validate": {
                                        "enum": [
                                            "text",
                                            "json_object"
                                        ]
                                    }
                                },
                                {
                                    "name": "prediction",
                                    "type": "text",
                                    "label": "Predicted outputs"
                                },
                                {
                                    "name": "select",
                                    "type": "select",
                                    "label": "Select Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "chat",
                                            "prompt"
                                        ]
                                    }
                                },
                                {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature",
                                    "validate": {
                                        "max": 2,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "top_p",
                                    "type": "number",
                                    "label": "Top P",
                                    "validate": {
                                        "max": 1,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "n_completions",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "frequency_penalty",
                                    "type": "number",
                                    "label": "Frequency Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "presence_penalty",
                                    "type": "number",
                                    "label": "Presence Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "logit_bias",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "token",
                                                "type": "text",
                                                "label": "Token ID",
                                                "required": true
                                            },
                                            {
                                                "name": "probability",
                                                "type": "number",
                                                "label": "Probability",
                                                "required": true,
                                                "validate": {
                                                    "max": 100,
                                                    "min": -100
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Token Probability"
                                    },
                                    "type": "array",
                                    "label": "Token Probability"
                                },
                                {
                                    "name": "seed",
                                    "type": "integer",
                                    "label": "Seed"
                                },
                                {
                                    "name": "stop",
                                    "spec": {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Stop Sequence"
                                    },
                                    "type": "array",
                                    "label": "Stop Sequences",
                                    "validate": {
                                        "maxItems": 4
                                    }
                                },
                                {
                                    "name": "additionalParameters",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Parameter Name",
                                                "required": true
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Input Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Parameter Value"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Number",
                                                        "value": "number",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "number",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Boolean",
                                                        "value": "boolean",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "boolean",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Date",
                                                        "value": "date",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "date",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Any",
                                                        "value": "any",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameter"
                                    },
                                    "type": "array",
                                    "label": "Other Input Parameters"
                                },
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "max_tokens",
                                    "type": "uinteger",
                                    "label": "Max Completion Tokens"
                                },
                                {
                                    "name": "messages",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": {
                                                    "store": [
                                                        {
                                                            "label": "Developer / System",
                                                            "value": "system",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "User",
                                                            "value": "user",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                },
                                                                {
                                                                    "name": "imageInputType",
                                                                    "type": "select",
                                                                    "label": "Image Input Type",
                                                                    "options": [
                                                                        {
                                                                            "label": "URL",
                                                                            "value": "url",
                                                                            "nested": [
                                                                                {
                                                                                    "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                                    "name": "imageUrl",
                                                                                    "type": "url",
                                                                                    "label": "Image URL"
                                                                                }
                                                                            ]
                                                                        },
                                                                        {
                                                                            "label": "Image File",
                                                                            "value": "file",
                                                                            "nested": [
                                                                                {
                                                                                    "name": "imageFile",
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                            "name": "imageFilename",
                                                                                            "type": "filename",
                                                                                            "label": "Image Filename",
                                                                                            "semantic": "file:name",
                                                                                            "extension": [
                                                                                                "jpg",
                                                                                                "jpeg",
                                                                                                "png",
                                                                                                "webp",
                                                                                                "gif"
                                                                                            ]
                                                                                        },
                                                                                        {
                                                                                            "name": "imageData",
                                                                                            "type": "buffer",
                                                                                            "label": "Image Data",
                                                                                            "semantic": "file:data"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Image"
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "mappable": false
                                                                },
                                                                {
                                                                    "name": "imageDetail",
                                                                    "type": "select",
                                                                    "label": "Image Detail",
                                                                    "options": [
                                                                        {
                                                                            "label": "Auto",
                                                                            "value": "auto",
                                                                            "default": true
                                                                        },
                                                                        {
                                                                            "label": "High",
                                                                            "value": "high"
                                                                        },
                                                                        {
                                                                            "label": "Low",
                                                                            "value": "low"
                                                                        }
                                                                    ],
                                                                    "advanced": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Message"
                                    },
                                    "type": "array",
                                    "label": "Messages",
                                    "required": true
                                },
                                {
                                    "name": "response_format",
                                    "type": "select",
                                    "label": "Response Format",
                                    "validate": {
                                        "enum": [
                                            "text",
                                            "json_object"
                                        ]
                                    }
                                },
                                {
                                    "name": "prediction",
                                    "type": "text",
                                    "label": "Predicted outputs"
                                }
                            ],
                            "interface": [
                                {
                                    "name": "result",
                                    "type": "any",
                                    "label": "Result"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "object",
                                    "type": "text",
                                    "label": "Object"
                                },
                                {
                                    "name": "created",
                                    "type": "date",
                                    "label": "Created"
                                },
                                {
                                    "name": "model",
                                    "type": "text",
                                    "label": "Model"
                                },
                                {
                                    "name": "choices",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "index",
                                                "type": "number",
                                                "label": "Index"
                                            },
                                            {
                                                "name": "logprobs",
                                                "type": "text",
                                                "label": "Log Probs"
                                            },
                                            {
                                                "name": "finish_reason",
                                                "type": "text",
                                                "label": "Finish Reason"
                                            },
                                            {
                                                "name": "message",
                                                "spec": [
                                                    {
                                                        "name": "role",
                                                        "type": "text",
                                                        "label": "Role"
                                                    },
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "refusal",
                                                        "type": "text",
                                                        "label": "Refusal"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Message"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Choices"
                                },
                                {
                                    "name": "usage",
                                    "spec": [
                                        {
                                            "name": "prompt_tokens",
                                            "type": "number",
                                            "label": "Prompt Tokens"
                                        },
                                        {
                                            "name": "completion_tokens",
                                            "type": "text",
                                            "label": "Completion Tokens"
                                        },
                                        {
                                            "name": "total_tokens",
                                            "type": "number",
                                            "label": "Total Tokens"
                                        },
                                        {
                                            "name": "prompt_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "cached_tokens",
                                                    "type": "uinteger",
                                                    "label": "Cached Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "image_tokens",
                                                    "type": "uinteger",
                                                    "label": "Image Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Prompt Tokens Details"
                                        },
                                        {
                                            "name": "completion_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "reasoning_tokens",
                                                    "type": "uinteger",
                                                    "label": "Reasoning Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                },
                                                {
                                                    "name": "accepted_prediction_tokens",
                                                    "type": "uinteger",
                                                    "label": "Accepted Prediction Tokens"
                                                },
                                                {
                                                    "name": "rejected_prediction_tokens",
                                                    "type": "uinteger",
                                                    "label": "Rejected Prediction Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Completion Tokens Details"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Usage"
                                },
                                {
                                    "name": "system_fingerprint",
                                    "type": "text",
                                    "label": "System Fingerprint"
                                }
                            ],
                            "advanced": true
                        }
                    },
                    {
                        "id": 12,
                        "module": "app#vkplus-nqbpd7:wallpost",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 5317752
                        },
                        "mapper": {
                            "message": "{{11.result}}",
                            "owner_id": "-47102734",
                            "attachments": "photo{{16.response[].owner_id}}_{{16.response[].id}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": -492,
                                "y": -280,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'ВКонтакте (VK) - Сохранение фото для поста' [16] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "app#vkplus-nqbpd710"
                                        },
                                        "label": "My Авторизация по API connection ( )"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:app#vkplus-nqbpd710",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "owner_id",
                                    "type": "text",
                                    "label": "🆔 ID группы"
                                },
                                {
                                    "name": "message",
                                    "type": "text",
                                    "label": "💬 Текст поста"
                                },
                                {
                                    "name": "attachments",
                                    "type": "text",
                                    "label": "📎 Вложения (фото, видео, файлы)"
                                },
                                {
                                    "name": "publish_date",
                                    "type": "uinteger",
                                    "label": "🕒 Дата публикации (опционально)"
                                },
                                {
                                    "name": "lat",
                                    "type": "number",
                                    "label": "🌍 Широта (опционально)"
                                },
                                {
                                    "name": "long",
                                    "type": "number",
                                    "label": "📍 Долгота (опционально)"
                                },
                                {
                                    "name": "place_id",
                                    "type": "uinteger",
                                    "label": "🏠 ID локации (опционально)"
                                },
                                {
                                    "name": "guid",
                                    "type": "text",
                                    "label": "🔄 Уникальный GUID (опционально)"
                                },
                                {
                                    "name": "donut_paid_duration",
                                    "type": "uinteger",
                                    "label": "🍩 VK Donut (опционально)"
                                },
                                {
                                    "name": "copyright",
                                    "type": "text",
                                    "label": "🏷 Источник (опционально)"
                                },
                                {
                                    "name": "link_title",
                                    "type": "text",
                                    "label": "🔗 Заголовок ссылки (опционально)"
                                },
                                {
                                    "name": "link_photo_id",
                                    "type": "text",
                                    "label": "📸 Фото для ссылки (опционально)"
                                }
                            ]
                        }
                    }
                ],
                [
                    {
                        "id": 13,
                        "module": "http:ActionGetFile",
                        "version": 3,
                        "parameters": {
                            "handleErrors": false
                        },
                        "mapper": {
                            "url": "https://mayai.ru/wp-content/uploads/2025/02/optimizatsiya-biznesa-wildberries-ozon-make-com-gaid-avtomatizatsiya-proczessov-uspeha.png",
                            "method": "get",
                            "serializeUrl": false,
                            "shareCookies": false
                        },
                        "metadata": {
                            "designer": {
                                "x": -846,
                                "y": 55,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {},
                            "parameters": [
                                {
                                    "name": "handleErrors",
                                    "type": "boolean",
                                    "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "url",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "serializeUrl",
                                    "type": "boolean",
                                    "label": "Serialize URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "hidden",
                                    "label": "Method"
                                },
                                {
                                    "name": "shareCookies",
                                    "type": "boolean",
                                    "label": "Share cookies with other HTTP modules",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 14,
                        "module": "app#vkplus-nqbpd7:getWallUploadServer",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 5317773
                        },
                        "mapper": {
                            "album_id": "170763392",
                            "group_id": "47102734"
                        },
                        "metadata": {
                            "designer": {
                                "x": -484,
                                "y": 58
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "app#vkplus-nqbpd710"
                                        },
                                        "label": "2134123452234234 ( )"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:app#vkplus-nqbpd710",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "album_id",
                                    "type": "uinteger",
                                    "label": "📸 ID альбома"
                                },
                                {
                                    "name": "group_id",
                                    "type": "integer",
                                    "label": "🆔 ID группы"
                                }
                            ]
                        }
                    },
                    {
                        "id": 15,
                        "module": "app#vkplus-nqbpd7:uploadPhoto",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 5317773
                        },
                        "mapper": {
                            "group_id": "47102734",
                            "file_data": "{{13.data}}",
                            "file_name": "{{13.fileName}}",
                            "upload_url": "{{14.response.upload_url}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": -141,
                                "y": 64
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "app#vkplus-nqbpd710"
                                        },
                                        "label": "2134123452234234 ( )"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:app#vkplus-nqbpd710",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "upload_url",
                                    "type": "url",
                                    "label": "🌍 URL для загрузки"
                                },
                                {
                                    "name": "group_id",
                                    "type": "text",
                                    "label": "🆔 ID группы"
                                },
                                {
                                    "name": "file_data",
                                    "type": "buffer",
                                    "label": "📂 Файл изображения"
                                },
                                {
                                    "name": "file_name",
                                    "type": "filename",
                                    "label": "📝 Имя файла"
                                }
                            ]
                        }
                    },
                    {
                        "id": 16,
                        "module": "app#vkplus-nqbpd7:photosSave",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 5317773
                        },
                        "mapper": {
                            "hash": "{{15.hash}}",
                            "photo": "{{15.photo}}",
                            "server": "{{15.server}}",
                            "group_id": "47102734"
                        },
                        "metadata": {
                            "designer": {
                                "x": 220,
                                "y": 60
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "app#vkplus-nqbpd710"
                                        },
                                        "label": "2134123452234234 ( )"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:app#vkplus-nqbpd710",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "group_id",
                                    "type": "integer",
                                    "label": "👥 ID группы"
                                },
                                {
                                    "name": "server",
                                    "type": "integer",
                                    "label": "🖥 ID сервера",
                                    "required": true
                                },
                                {
                                    "name": "photo",
                                    "type": "text",
                                    "label": "📜 Список фото (JSON)",
                                    "required": true
                                },
                                {
                                    "name": "hash",
                                    "type": "text",
                                    "label": "🔑 Хеш",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 17,
                        "module": "app#vkplus-nqbpd7:wallpost",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 5317752
                        },
                        "mapper": {
                            "message": "Тестоавя надпись",
                            "owner_id": "-47102734",
                            "attachments": "photo{{16.response[].owner_id}}_{{16.response[].id}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 636,
                                "y": 55
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "app#vkplus-nqbpd710"
                                        },
                                        "label": "My Авторизация по API connection ( )"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:app#vkplus-nqbpd710",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "owner_id",
                                    "type": "text",
                                    "label": "🆔 ID группы"
                                },
                                {
                                    "name": "message",
                                    "type": "text",
                                    "label": "💬 Текст поста"
                                },
                                {
                                    "name": "attachments",
                                    "type": "text",
                                    "label": "📎 Вложения (фото, видео, файлы)"
                                },
                                {
                                    "name": "publish_date",
                                    "type": "uinteger",
                                    "label": "🕒 Дата публикации (опционально)"
                                },
                                {
                                    "name": "lat",
                                    "type": "number",
                                    "label": "🌍 Широта (опционально)"
                                },
                                {
                                    "name": "long",
                                    "type": "number",
                                    "label": "📍 Долгота (опционально)"
                                },
                                {
                                    "name": "place_id",
                                    "type": "uinteger",
                                    "label": "🏠 ID локации (опционально)"
                                },
                                {
                                    "name": "guid",
                                    "type": "text",
                                    "label": "🔄 Уникальный GUID (опционально)"
                                },
                                {
                                    "name": "donut_paid_duration",
                                    "type": "uinteger",
                                    "label": "🍩 VK Donut (опционально)"
                                },
                                {
                                    "name": "copyright",
                                    "type": "text",
                                    "label": "🏷 Источник (опционально)"
                                },
                                {
                                    "name": "link_title",
                                    "type": "text",
                                    "label": "🔗 Заголовок ссылки (опционально)"
                                },
                                {
                                    "name": "link_photo_id",
                                    "type": "text",
                                    "label": "📸 Фото для ссылки (опционально)"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}