10 Lesson blueprint/inoreader_AI_Telegram__196267257.json
{
  "name": "inoreader_AI_Telegram->196267257",
  "nodes": [
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "content",
        "extractionValues": {
          "values": [
            {
              "key": "=ClearText",
              "cssSelector": "*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        60,
        0
      ],
      "id": "2002aed5-eb70-4d1f-8907-fbef44f7c2c2",
      "name": "Извлекаем Текст",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const text = item.json.ClearText || \"\";\n  const urlRegex = /https?:\\/\\/[^\\s\\]\\\"]+/g;\n\n  const links = text.match(urlRegex) || [];\n\n  const result = {};\n\n  let imageCount = 1;\n  let telegramCount = 1;\n  let linkCount = 1;\n\n  links.forEach(link => {\n    const lower = link.toLowerCase();\n\n    if (lower.match(/\\.(jpg|jpeg|png|webp|gif)$/)) {\n      result[`Image_${imageCount}`] = link;\n      imageCount++;\n    } else if (lower.includes(\"https://t.me/\")) {\n      result[`Telegram_Link_${telegramCount}`] = link;\n      telegramCount++;\n    } else {\n      result[`Link_${linkCount}`] = link;\n      linkCount++;\n    }\n  });\n\n  return { json: result };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        0
      ],
      "id": "6da317f0-39fd-4549-9a05-e711fdd58941",
      "name": "Извлекаем ссылки"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "196267257",
        "file": "={{ $('Извлекаем ссылки').item.json.Image_1 }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1500,
        -180
      ],
      "id": "3048b62d-a199-4940-89c3-5b1dc30cb124",
      "name": "Фотка",
      "webhookId": "abf5d929-172a-4000-971b-dac137dfb52c",
      "credentials": {
        "telegramApi": {
          "id": "kwX9s2KoZT3g0H8V",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "196267257",
        "text": "={{ $('ClearText').item.json.ClearText }}\n\nПоток: n8n:inoreader_AI_Telegram->196267257",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        -180
      ],
      "id": "fc65fb63-30a8-4af9-9864-af4c04541ceb",
      "name": "Текст",
      "webhookId": "abf5d929-172a-4000-971b-dac137dfb52c",
      "credentials": {
        "telegramApi": {
          "id": "kwX9s2KoZT3g0H8V",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "274af1af-505f-4de3-9e0b-466ae8e5b7a8",
              "leftValue": "={{ $('Извлекаем ссылки').item.json.Image_1 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        0
      ],
      "id": "7600fcc2-e7b3-406e-ba81-702629d09867",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "196267257",
        "text": "={{ $('Убираем thumb.jpeg').item.json.CleanText }}\n\nПоток: n8n:inoreader_AI_Telegram->196267257",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1500,
        100
      ],
      "id": "5638b722-14f7-412d-b4e5-348253012968",
      "name": "Текст без картинки",
      "webhookId": "abf5d929-172a-4000-971b-dac137dfb52c",
      "credentials": {
        "telegramApi": {
          "id": "kwX9s2KoZT3g0H8V",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Code node — Run Once for All Items\n * Удаляем все вхождения «thumb.jpeg» из поля ClearText,\n * причём само поле берём из узла «Извлекаем Текст».\n */\n\nreturn items.map(item => {\n  // 1. берём исходный текст у узла-источника\n  const raw = $node['Извлекаем Текст'].json.ClearText ?? \"\";\n\n  // 2. убираем «thumb.jpeg»\n  const cleaned = raw.replace(/thumb\\.jpeg/gi, \"\");\n\n  // 3. кладём результат в текущий item\n  item.json.ClearText = cleaned;      // перезаписываем\n  // или item.json.cleaned = cleaned;  // если нужно отдельное поле\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "id": "4341a6a5-e88d-410a-b533-e0ebd17fa8ae",
      "name": "Убираем thumb.jpeg"
    },
    {
      "parameters": {
        "jsCode": "/**\n *  Узел Code  –  очищаем ClearText\n *  Исходный текст берём из узла «Извлекаем Текст».\n */\n\nreturn items.map(item => {\n  // 1. текст-источник\n  let text = $node['Извлекаем Текст'].json.ClearText ?? \"\";\n\n  // 2. убираем thumb.jpeg\n  text = text.replace(/thumb\\.jpeg/gi, \"\");\n\n  // 3. удаляем ссылки\n  text = text\n    // [https://…]\n    .replace(/\\[https?:\\/\\/[^\\]]+\\]/gi, \"\")\n    // одиночные http/https-ссылки\n    .replace(/https?:\\/\\/\\S+/gi, \"\");\n\n  // 4. подчистим лишние пробелы и пустые строки\n  text = text\n    .replace(/[ \\t]+/g, \" \")      // множественные пробелы → один\n    .replace(/\\n{3,}/g, \"\\n\\n\")   // >2 подряд пустых строк → одна\n    .trim();\n\n  // 5. записываем обратно\n  item.json.ClearText = text;     // или item.json.cleaned = text;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        0
      ],
      "id": "362d813b-94f5-4a4e-a2b6-0ac56cc27009",
      "name": "ClearText"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Inoreader').item.json.title }}",
            "Content": "={{ $('Inoreader').item.json.contentSnippet }}",
            "Date": "={{ $('Inoreader').item.json.pubDate }}",
            "origin_URL": "={{ $('Inoreader').item.json.link }}",
            "Feed": "AI_Telegram",
            "Tech": "n8n",
            "my_ID": "={{ $('Inoreader').item.json.guid }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "my_ID",
              "displayName": "my_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feed",
              "displayName": "Feed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI-eval",
              "displayName": "AI-eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tech",
              "displayName": "Tech",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI_expain",
              "displayName": "AI_expain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "origin_URL",
              "displayName": "origin_URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Topics",
              "displayName": "Topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        580
      ],
      "id": "5583f204-acae-4c70-86bd-faec39393df8",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://www.inoreader.com/stream/user/1004901627/tag/AI_Telegram"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        0
      ],
      "id": "f39198e4-8130-43f4-8b60-eac1a032d4b6",
      "name": "Inoreader"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "filterByFormula": "={my_ID} = \"{{ $('Airtable').item.json.fields.my_ID }}\"",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2220,
        380
      ],
      "id": "25f27118-c174-4cc9-8d76-37daaf872cc5",
      "name": "SearchGood",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI-eval": "Bad",
            "AI_expain": "={{ $('4. Саммари').item.json.output }}",
            "my_ID": "={{ $json.my_ID }}"
          },
          "matchingColumns": [
            "my_ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "my_ID",
              "displayName": "my_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Feed",
              "displayName": "Feed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI-eval",
              "displayName": "AI-eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tech",
              "displayName": "Tech",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI_expain",
              "displayName": "AI_expain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "origin_URL",
              "displayName": "origin_URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Topics",
              "displayName": "Topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2500,
        380
      ],
      "id": "d330a0ff-34f3-4c4d-ad12-863568d833ea",
      "name": "UpdateGood",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "filterByFormula": "={my_ID} = \"{{ $('Airtable').item.json.fields.my_ID }}\"",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2200,
        680
      ],
      "id": "452bdaf4-9114-4f7b-8e16-2fe6671a66d4",
      "name": "SearchBad",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI-eval": "Bad",
            "AI_expain": "={{ $('4. Саммари').item.json.output }}",
            "my_ID": "={{ $json.my_ID }}"
          },
          "matchingColumns": [
            "my_ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "my_ID",
              "displayName": "my_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Feed",
              "displayName": "Feed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI-eval",
              "displayName": "AI-eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tech",
              "displayName": "Tech",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI_expain",
              "displayName": "AI_expain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "origin_URL",
              "displayName": "origin_URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Topics",
              "displayName": "Topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2500,
        680
      ],
      "id": "1a7d97b0-cd26-48f0-a8d5-1321d2328454",
      "name": "UpdateBad",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_RTPQWJGSBCxvaHQvzh5uxTNV",
          "mode": "list",
          "cachedResultName": "Feed_Filter"
        },
        "prompt": "define",
        "text": "={{ $json.fields.Content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        580
      ],
      "id": "e3c0ae52-c106-4c3c-b1c7-9dd29bdd6a39",
      "name": "4. Саммари",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "HNspK7aWjsgYrzHc",
          "name": "OpenAi account"
        }
      },
      "notes": "4.1nano"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d72b0096-6bb1-4b96-8cbe-ed64a2af5881",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Good",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1920,
        380
      ],
      "id": "5e470243-d053-4169-a4c3-cc56182b3964",
      "name": "Good1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d72b0096-6bb1-4b96-8cbe-ed64a2af5881",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Bad",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1920,
        680
      ],
      "id": "f2301df3-e55f-4779-a170-830a0738de58",
      "name": "Bad1"
    }
  ],
  "pinData": {},
  "connections": {
    "Извлекаем Текст": {
      "main": [
        [
          {
            "node": "Извлекаем ссылки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлекаем ссылки": {
      "main": [
        [
          {
            "node": "Убираем thumb.jpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фотка": {
      "main": [
        [
          {
            "node": "Текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Фотка",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Текст без картинки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Убираем thumb.jpeg": {
      "main": [
        [
          {
            "node": "ClearText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Текст": {
      "main": [
        []
      ]
    },
    "ClearText": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inoreader": {
      "main": [
        [
          {
            "node": "Извлекаем Текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "4. Саммари",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchGood": {
      "main": [
        [
          {
            "node": "UpdateGood",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchBad": {
      "main": [
        [
          {
            "node": "UpdateBad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Саммари": {
      "main": [
        [
          {
            "node": "Good1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bad1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Good1": {
      "main": [
        [
          {
            "node": "SearchGood",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bad1": {
      "main": [
        [
          {
            "node": "SearchBad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d3249db8-6ba0-4990-8e78-c5aa49bf1c16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6d75b3a10ac990baeac979361444e13968039955b88afe4d9f2bbb685dc10b1"
  },
  "id": "5O2mBwfEMl9fdV89",
  "tags": []
}