10 Lesson blueprint/rss_app_Twitter_AI_selebs__196267257.json
{
  "name": "rss.app_Twitter_AI_selebs->196267257",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let raw = item.json.contentSnippet || \"\";          // ← здесь\n// (если literal \"\\n\" нужно конвертировать, сделайте .split(\"\\\\n\").join(\"\\n\") )\nlet cleaned = raw\n  .replace(/https?:\\/\\/\\S+/g, \"\")                  // ссылки\n  .replace(/#[\\w\\d_]+/g, \"\")                       // хэштеги\n  .replace(/@[\\w\\d_]+/g, \"\")                       // упоминания\n  .replace(/[ \\t]{2,}/g, \" \")                      // лишние пробелы\n  .replace(/\\n{3,}/g, \"\\n\\n\")                      // >2 пустых строк → 1\n  .trim();\n\n// сохраняем обратно в тот же key\nitem.json.contentSnippet = cleaned;                // ← и здесь\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        240
      ],
      "id": "98facdf3-fd6e-4052-bb36-6a592e731d80",
      "name": "Удаление мусора"
    },
    {
      "parameters": {
        "chatId": "196267257",
        "text": "=<b>Оригинальный Твит:</b> {{ $('Перевод').item.json.choices[0].message.content }}, {{ $('rss.app').item.json.link }}\n\n<b>Разбор</b>: {{ $json.choices[0].message.content }}\n\n<b>Лента AIseleb:</b> - пафосные люди из мира IT, кто иногда говорит что-то полезное: https://x.com/i/lists/1893738230648033398\n\nПоток: n8n:rss.app_Twitter_AI_selebs->196267257",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2520,
        240
      ],
      "id": "0163aaf5-16e4-45fa-a060-e07fdc3c2ed2",
      "name": "Телеграм",
      "webhookId": "abf5d929-172a-4000-971b-dac137dfb52c",
      "credentials": {
        "telegramApi": {
          "id": "kwX9s2KoZT3g0H8V",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. исходник\nconst raw = item.json.contentSnippet || \"\";\n\n// 2. чистка\nlet text = raw\n  .split(\"\\\\n\").join(\"\\n\")\n  .replace(/<[^>]+>/g, \"\")\n  .replace(/\\[https?:\\/\\/[^\\]]+\\]/g, \"\")\n  .replace(/https?:\\/\\/\\S+/g, \"\")\n  .replace(/#[\\w\\d_]+/g, \"\")\n  .replace(/@[\\w\\d_]+/g, \"\")\n  .replace(/cc:\\s*pic\\.twitter\\.com\\/\\S+/gi, \"\")\n  .replace(/[ \\t]{2,}/g, \" \")\n  .replace(/\\n{3,}/g, \"\\n\\n\")\n  .trim();\n\n// 3. возвращаем\nitem.json.contentSnippet = text;\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        240
      ],
      "id": "18253a08-94d8-4ab7-a275-f41fb333e6ff",
      "name": "replace(/cc:\\s*pic"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43470c2a-f4bd-430f-8496-bf42ff2a3292",
              "leftValue": "={{ $json.title }}",
              "rightValue": "\"RT @",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        680,
        -220
      ],
      "id": "7ad4b873-b4a9-4062-a9e4-37e1c3ebc6b1",
      "name": "Да \"RT @"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43470c2a-f4bd-430f-8496-bf42ff2a3292",
              "leftValue": "={{ $json.title }}",
              "rightValue": "\"@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        680,
        0
      ],
      "id": "fad61c35-a805-460d-af36-ca61575813a3",
      "name": "Да \"@"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43470c2a-f4bd-430f-8496-bf42ff2a3292",
              "leftValue": "={{ $json.title }}",
              "rightValue": "\"@",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "7e0bd6c3-e865-48bb-94dc-66aabd23e490",
              "leftValue": "={{ $json.title }}",
              "rightValue": "\"RT @",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        680,
        240
      ],
      "id": "e3be696b-d16f-4e50-b629-a92a1cd18120",
      "name": "Твит"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Translate this into Russian as accurately as possible, taking into account the contexts",
              "role": "system"
            },
            {
              "content": "={{ $json.contentSnippet }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1660,
        240
      ],
      "id": "a7eadd8c-962e-4afc-a61e-10b5b4b07531",
      "name": "Перевод",
      "credentials": {
        "openAiApi": {
          "id": "HNspK7aWjsgYrzHc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Analyze this text and try to comment on what is meant here and how it relates to the ability to create something. Are these new opportunities or threats? The final text should not exceed approximately 1000 characters or approximately 200 words.",
              "role": "system"
            },
            {
              "content": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2080,
        240
      ],
      "id": "51ac5639-e373-494d-8114-90968eddb2e4",
      "name": "Комментарий",
      "credentials": {
        "openAiApi": {
          "id": "HNspK7aWjsgYrzHc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Получатель - -1001381692730 - КвестТКР_Чат",
        "height": 97,
        "width": 636,
        "color": 7
      },
      "id": "a94d85b7-11a2-45b4-a3ea-14a900e9b326",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        -440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('rss.app').item.json.title }}",
            "Content": "={{ $('rss.app').item.json.contentSnippet }}",
            "Date": "={{ $json.pubDate }}",
            "origin_URL": "={{ $('rss.app').item.json.link }}",
            "Feed": "AI_Seleb",
            "Tech": "n8n",
            "my_ID": "={{ $json.guid }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "my_ID",
              "displayName": "my_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feed",
              "displayName": "Feed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI-eval",
              "displayName": "AI-eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tech",
              "displayName": "Tech",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI_expain",
              "displayName": "AI_expain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "origin_URL",
              "displayName": "origin_URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Topics",
              "displayName": "Topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        140,
        720
      ],
      "id": "14e63534-5188-42d8-8309-82817285c5a5",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 23
            }
          ]
        },
        "feedUrl": "https://rss.app/feeds/4V3QMDfWEY4Dukx8.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -60
      ],
      "id": "b28c2bd5-5255-4ab3-b618-ec5e3bb6414e",
      "name": "rss.app"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_RTPQWJGSBCxvaHQvzh5uxTNV",
          "mode": "list",
          "cachedResultName": "Feed_Filter"
        },
        "prompt": "define",
        "text": "={{ $json.fields.Content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        620,
        720
      ],
      "id": "188dd4ae-1953-49d4-b651-656253334685",
      "name": "4. Саммари1",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "HNspK7aWjsgYrzHc",
          "name": "OpenAi account"
        }
      },
      "notes": "4.1nano"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d72b0096-6bb1-4b96-8cbe-ed64a2af5881",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Good",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1260,
        520
      ],
      "id": "4f2bc9c7-58a1-456b-a695-85dfc6093b79",
      "name": "Good"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d72b0096-6bb1-4b96-8cbe-ed64a2af5881",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Bad",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1260,
        820
      ],
      "id": "8f180375-ca7f-4e8c-8bd7-8be47c5f49e4",
      "name": "Bad"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "filterByFormula": "={my_ID} = \"{{ $('Airtable').item.json.fields.my_ID }}\"",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1560,
        520
      ],
      "id": "f6457970-12e0-4cb2-a7fe-c0468bf4e54b",
      "name": "SearchGood",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI-eval": "Bad",
            "AI_expain": "={{ $('4. Саммари1').item.json.output }}",
            "my_ID": "={{ $json.my_ID }}"
          },
          "matchingColumns": [
            "my_ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "my_ID",
              "displayName": "my_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Feed",
              "displayName": "Feed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI-eval",
              "displayName": "AI-eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tech",
              "displayName": "Tech",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI_expain",
              "displayName": "AI_expain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "origin_URL",
              "displayName": "origin_URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Topics",
              "displayName": "Topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1840,
        520
      ],
      "id": "0303a2a5-823a-4637-9063-673352f7891f",
      "name": "UpdateGood",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "filterByFormula": "={my_ID} = \"{{ $('Airtable').item.json.fields.my_ID }}\"",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1540,
        820
      ],
      "id": "f6d6ac4e-6fa3-4d59-89bf-63e528b512af",
      "name": "SearchBad",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI-eval": "Bad",
            "AI_expain": "={{ $('4. Саммари1').item.json.output }}",
            "my_ID": "={{ $json.my_ID }}"
          },
          "matchingColumns": [
            "my_ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "my_ID",
              "displayName": "my_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Feed",
              "displayName": "Feed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI-eval",
              "displayName": "AI-eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tech",
              "displayName": "Tech",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI_expain",
              "displayName": "AI_expain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "origin_URL",
              "displayName": "origin_URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Topics",
              "displayName": "Topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1840,
        820
      ],
      "id": "463d4fde-9194-49e7-94e2-442c513ad414",
      "name": "UpdateBad",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Удаление мусора": {
      "main": [
        [
          {
            "node": "replace(/cc:\\s*pic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "replace(/cc:\\s*pic": {
      "main": [
        [
          {
            "node": "Перевод",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Да \"RT @": {
      "main": [
        []
      ]
    },
    "Твит": {
      "main": [
        [
          {
            "node": "Удаление мусора",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Перевод": {
      "main": [
        [
          {
            "node": "Комментарий",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Комментарий": {
      "main": [
        [
          {
            "node": "Телеграм",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rss.app": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Да \"RT @",
            "type": "main",
            "index": 0
          },
          {
            "node": "Да \"@",
            "type": "main",
            "index": 0
          },
          {
            "node": "Твит",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "4. Саммари1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Саммари1": {
      "main": [
        [
          {
            "node": "Good",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Good": {
      "main": [
        [
          {
            "node": "SearchGood",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bad": {
      "main": [
        [
          {
            "node": "SearchBad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchGood": {
      "main": [
        [
          {
            "node": "UpdateGood",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchBad": {
      "main": [
        [
          {
            "node": "UpdateBad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "38963054-b3e8-4928-9609-13b879516f45",
  "meta": {
    "instanceId": "f6d75b3a10ac990baeac979361444e13968039955b88afe4d9f2bbb685dc10b1"
  },
  "id": "9BNxr0mWeHVAUr1H",
  "tags": []
}