10 Lesson blueprint/rss_app_Twitter_AI_feed__196267257.json
{
  "name": "rss.app_Twitter_AI feed->196267257",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let raw = item.json.contentSnippet || \"\";          // ← здесь\n// (если literal \"\\n\" нужно конвертировать, сделайте .split(\"\\\\n\").join(\"\\n\") )\nlet cleaned = raw\n  .replace(/https?:\\/\\/\\S+/g, \"\")                  // ссылки\n  .replace(/#[\\w\\d_]+/g, \"\")                       // хэштеги\n  .replace(/@[\\w\\d_]+/g, \"\")                       // упоминания\n  .replace(/[ \\t]{2,}/g, \" \")                      // лишние пробелы\n  .replace(/\\n{3,}/g, \"\\n\\n\")                      // >2 пустых строк → 1\n  .trim();\n\n// сохраняем обратно в тот же key\nitem.json.contentSnippet = cleaned;                // ← и здесь\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        240
      ],
      "id": "8b4867e0-7849-4bfc-b138-f70b5090bd57",
      "name": "Удаление мусора"
    },
    {
      "parameters": {
        "chatId": "196267257",
        "text": "=<b>Оригинальный Твит:</b> {{ $('Перевод').item.json.choices[0].message.content }} - {{ $('Твит').item.json.link }}\n\n<b>Разбор:</b> {{ $json.choices[0].message.content }}\n\n<b>Лента AI Feed:</b> Те, кто пытаются что-то делать руками и иногда можно найти что-то полезное: https://x.com/i/lists/1936350052194386241\n\nПоток: n8n:rss.app_Twitter_AI_feeds->196267257",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1740,
        240
      ],
      "id": "4270790a-6390-4b27-9318-5464ed86c5a4",
      "name": "Телеграм",
      "webhookId": "abf5d929-172a-4000-971b-dac137dfb52c",
      "credentials": {
        "telegramApi": {
          "id": "kwX9s2KoZT3g0H8V",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43470c2a-f4bd-430f-8496-bf42ff2a3292",
              "leftValue": "={{ $json.title }}",
              "rightValue": "RT @",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        -240
      ],
      "id": "d0760334-3bd7-409c-9fd0-c60161e95ad9",
      "name": "Да \"RT @"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43470c2a-f4bd-430f-8496-bf42ff2a3292",
              "leftValue": "={{ $json.title }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9910f0ec-f0c5-405f-b7db-0aa6f8f6b127",
              "leftValue": "={{ $json.title }}",
              "rightValue": "RT @",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        0
      ],
      "id": "a1a74a83-79d7-41a9-be08-ae737016b9e5",
      "name": "Да \"@"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43470c2a-f4bd-430f-8496-bf42ff2a3292",
              "leftValue": "={{ $json.title }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "7e0bd6c3-e865-48bb-94dc-66aabd23e490",
              "leftValue": "={{ $json.title }}",
              "rightValue": "RT @",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        240
      ],
      "id": "115227a8-a32f-4e8b-affe-d2b6b2d60a1f",
      "name": "Твит"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1) исходный текст\nconst raw = item.json.contentSnippet || \"\";\n\n// 2) чистка\nlet text = raw\n  .split(\"\\\\n\").join(\"\\n\")\n  .replace(/<[^>]+>/g, \"\")\n  .replace(/\\[https?:\\/\\/[^\\]]+\\]/g, \"\")\n  .replace(/https?:\\/\\/\\S+/g, \"\")\n  .replace(/pic\\.twitter\\.com\\/\\S+/gi, \"\") // убираем pic.twitter.com/…\n  .replace(/#[\\w\\d_]+/g, \"\")\n  .replace(/@[\\w\\d_]+/g, \"\")\n  .replace(/[ \\t]{2,}/g, \" \")\n  .replace(/\\n{3,}/g, \"\\n\\n\")\n  .trim();\n\n// 3) пишем обратно и возвращаем\nitem.json.contentSnippet = text;\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        240
      ],
      "id": "d5e1fe04-5cf3-44e5-b8fa-79b37b947c34",
      "name": "replace(/cc:\\s*pic"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Translate this into Russian as accurately as possible, taking into account the contexts",
              "role": "system"
            },
            {
              "content": "={{ $json.contentSnippet }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        240
      ],
      "id": "60f9900c-8a37-4468-9c7e-0812169b323f",
      "name": "Перевод",
      "credentials": {
        "openAiApi": {
          "id": "HNspK7aWjsgYrzHc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Analyze this text and try to comment on what is meant here and how it relates to the ability to create something. Are these new opportunities or threats? The final text should not exceed approximately 1000 characters or approximately 200 words.",
              "role": "system"
            },
            {
              "content": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1320,
        240
      ],
      "id": "f81a2c75-b9aa-4133-9ad7-544b94463609",
      "name": "Комментарий",
      "credentials": {
        "openAiApi": {
          "id": "HNspK7aWjsgYrzHc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Получатель - -1001381692730 - КвестТКР_Чат",
        "height": 97,
        "width": 636,
        "color": 7
      },
      "id": "d67ca30d-2c44-454f-8007-54352bc17ca2",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        -180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('rss.app_').item.json.title }}",
            "Content": "={{ $('rss.app_').item.json.contentSnippet }}",
            "Date": "={{ $json.pubDate }}",
            "origin_URL": "={{ $('rss.app_').item.json.link }}",
            "Feed": "AI_Feed",
            "Tech": "n8n",
            "my_ID": "={{ $json.guid }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "my_ID",
              "displayName": "my_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feed",
              "displayName": "Feed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI-eval",
              "displayName": "AI-eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tech",
              "displayName": "Tech",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI_expain",
              "displayName": "AI_expain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "origin_URL",
              "displayName": "origin_URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Topics",
              "displayName": "Topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -500,
        760
      ],
      "id": "72f8c8b4-567b-41fe-b994-96ee8bb6e7c3",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "feedUrl": "https://rss.app/feeds/BUxLtPfKTfrpPTzr.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -1060,
        0
      ],
      "id": "af3dfb1e-0cc0-4b7d-b14c-34a24c34cf9e",
      "name": "rss.app_"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_RTPQWJGSBCxvaHQvzh5uxTNV",
          "mode": "list",
          "cachedResultName": "Feed_Filter"
        },
        "prompt": "define",
        "text": "={{ $json.fields.Content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -140,
        760
      ],
      "id": "0b2f4123-6e56-401b-9337-55e0514953aa",
      "name": "4. Саммари1",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "HNspK7aWjsgYrzHc",
          "name": "OpenAi account"
        }
      },
      "notes": "4.1nano"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d72b0096-6bb1-4b96-8cbe-ed64a2af5881",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Good",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        500,
        560
      ],
      "id": "7f6a3115-1913-442a-b742-925a9aa5a362",
      "name": "Good"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d72b0096-6bb1-4b96-8cbe-ed64a2af5881",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Bad",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        500,
        860
      ],
      "id": "33b5f397-e45e-4839-8174-7bb861667ffe",
      "name": "Bad"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "filterByFormula": "={my_ID} = \"{{ $('Airtable').item.json.fields.my_ID }}\"",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        560
      ],
      "id": "0962167a-0d1e-432b-bedd-e274d7d30309",
      "name": "SearchGood",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI-eval": "Bad",
            "AI_expain": "={{ $('4. Саммари1').item.json.output }}",
            "my_ID": "={{ $json.my_ID }}"
          },
          "matchingColumns": [
            "my_ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "my_ID",
              "displayName": "my_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Feed",
              "displayName": "Feed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI-eval",
              "displayName": "AI-eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tech",
              "displayName": "Tech",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI_expain",
              "displayName": "AI_expain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "origin_URL",
              "displayName": "origin_URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Topics",
              "displayName": "Topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1080,
        560
      ],
      "id": "8e3a2d70-662d-4d64-b338-ddba992ffc4a",
      "name": "UpdateGood",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "filterByFormula": "={my_ID} = \"{{ $('Airtable').item.json.fields.my_ID }}\"",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        780,
        860
      ],
      "id": "9433a7d0-5356-4ecd-a3a7-02d96c274b2e",
      "name": "SearchBad",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app5VGioZdapp729W",
          "mode": "list",
          "cachedResultName": "Агент",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W"
        },
        "table": {
          "__rl": true,
          "value": "tblbWGPI4WUCdZBX8",
          "mode": "list",
          "cachedResultName": "Trinity_raw_Input_1",
          "cachedResultUrl": "https://airtable.com/app5VGioZdapp729W/tblbWGPI4WUCdZBX8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI-eval": "Bad",
            "AI_expain": "={{ $('4. Саммари1').item.json.output }}",
            "my_ID": "={{ $json.my_ID }}"
          },
          "matchingColumns": [
            "my_ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "my_ID",
              "displayName": "my_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Feed",
              "displayName": "Feed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI-eval",
              "displayName": "AI-eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tech",
              "displayName": "Tech",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI_expain",
              "displayName": "AI_expain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "origin_URL",
              "displayName": "origin_URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Topics",
              "displayName": "Topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1080,
        860
      ],
      "id": "0932f967-f826-42f0-a965-f06f3424efe2",
      "name": "UpdateBad",
      "credentials": {
        "airtableTokenApi": {
          "id": "26REQtb2RAU0z2oF",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Удаление мусора": {
      "main": [
        [
          {
            "node": "replace(/cc:\\s*pic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Твит": {
      "main": [
        [
          {
            "node": "Удаление мусора",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "replace(/cc:\\s*pic": {
      "main": [
        [
          {
            "node": "Перевод",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Да \"@": {
      "main": [
        []
      ]
    },
    "Да \"RT @": {
      "main": [
        []
      ]
    },
    "Перевод": {
      "main": [
        [
          {
            "node": "Комментарий",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Комментарий": {
      "main": [
        [
          {
            "node": "Телеграм",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "4. Саммари1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rss.app_": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Да \"RT @",
            "type": "main",
            "index": 0
          },
          {
            "node": "Да \"@",
            "type": "main",
            "index": 0
          },
          {
            "node": "Твит",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Саммари1": {
      "main": [
        [
          {
            "node": "Good",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Good": {
      "main": [
        [
          {
            "node": "SearchGood",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bad": {
      "main": [
        [
          {
            "node": "SearchBad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchGood": {
      "main": [
        [
          {
            "node": "UpdateGood",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchBad": {
      "main": [
        [
          {
            "node": "UpdateBad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33d5f69d-677c-4a15-8833-2ccfb467cfa1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6d75b3a10ac990baeac979361444e13968039955b88afe4d9f2bbb685dc10b1"
  },
  "id": "jgjpLC3oefbt7IaJ",
  "tags": []
}