Input blueprints/0_Gmail--OpenAI Complition--Tg--OpeAI Audio--TG.blueprint.json
{
    "name": "0_Gmail->OpenAI Complition->Tg->OpeAI Audio->TG",
    "flow": [
        {
            "id": 53,
            "module": "google-email:TriggerNewEmail",
            "version": 2,
            "parameters": {
                "from": "",
                "text": "",
                "folder": "INBOX",
                "account": 4204859,
                "subject": "",
                "criteria": "ALL",
                "markSeen": false,
                "maxResults": 1,
                "searchType": "simple"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1444,
                    "y": 22
                },
                "restore": {
                    "parameters": {
                        "folder": {
                            "path": [
                                "INBOX"
                            ]
                        },
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "Gmail2 (alexeykrol@gmail.com)"
                        },
                        "criteria": {
                            "label": "All emails"
                        },
                        "searchType": {
                            "label": "Simple filter"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simple",
                                "gmail"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximum number of results",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "ALL",
                                "SEEN",
                                "UNSEEN"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Search phrase"
                    }
                ]
            }
        },
        {
            "id": 58,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -893,
                    "y": 23
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 59,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4204765
                            },
                            "mapper": {
                                "mode": "fromAll",
                                "insertUnformatted": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertDataOption": "INSERT_ROWS",
                                "spreadsheetId": "1lAq1ven7D5UWZ5t45kxYuHYjMahFFJ4ZuPk_Blnc7NU",
                                "sheetId": "Make",
                                "includesHeaders": true,
                                "values": {
                                    "0": "{{53.text}}",
                                    "2": "{{53.from.address}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": -593,
                                    "y": 173
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Gmail1 (alexeykrol@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Select from all"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Make"
                                        },
                                        "includesHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "label": "Values",
                                                    "type": "collection",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "label": "Входящее сообщение 888888 (A)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "label": "Исходящее сообщение (B)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "label": "Источник (C)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "label": "(D)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "label": "(E)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "label": "(F)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "label": "(G)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "label": "(H)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "label": "(I)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "label": "(J)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "label": "(K)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "label": "(L)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "label": "(M)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "label": "(N)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "label": "(O)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "label": "(P)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "label": "(Q)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "label": "(R)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "label": "(S)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "label": "(T)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "label": "(U)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "label": "(V)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "label": "(W)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "label": "(X)",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Входящее сообщение 888888 (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Исходящее сообщение (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Источник (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "(D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 62,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "RowNumberToString",
                                "scope": "roundtrip",
                                "value": "{{toString(59.rowNumber)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -75,
                                    "y": 160
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "RowNumberToString",
                                        "label": "RowNumberToString",
                                        "type": "any"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 63,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "CellIDg",
                                "scope": "roundtrip",
                                "value": "C{{62.RowNumberToString}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 438,
                                    "y": 174
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "CellIDg",
                                        "label": "CellIDg",
                                        "type": "any"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 61,
                            "module": "google-sheets:getCell",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4204765
                            },
                            "mapper": {
                                "select": "fromAll",
                                "cell": "{{63.CellIDg}}",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING",
                                "spreadsheetId": "1lAq1ven7D5UWZ5t45kxYuHYjMahFFJ4ZuPk_Blnc7NU",
                                "sheetId": "Make"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 882,
                                    "y": 171
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Gmail1 (alexeykrol@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "select": {
                                            "label": "Select from all"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Make"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "list",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "cell",
                                        "type": "text",
                                        "label": "Cell",
                                        "required": true
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet",
                                        "mode": "edit",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 36,
                        "module": "airtable:ActionCreateRecord",
                        "version": 3,
                        "parameters": {
                            "__IMTCONN__": 4156908
                        },
                        "mapper": {
                            "base": "apphqV53mWmQH5Tv2",
                            "table": "tbln88CbX23uUCG8r",
                            "record": {
                                "fld0pTz7lqt4hwSFJ": "Gmail",
                                "fldKzai9SvruTL1zb": "{{53.subject}}",
                                "fldM3gwJGzIWA98bd": "{{53.date}}",
                                "fldc26tdGZXfcD398": "{{53.from.address}}",
                                "flddKRJ7MGmUKeDuy": "{{53.headers.replyTo}}",
                                "fldt4PWWHxcEozdeF": "{{53.text}}"
                            },
                            "typecast": false,
                            "useColumnId": false
                        },
                        "metadata": {
                            "designer": {
                                "x": -482,
                                "y": -429,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Gmail - Watch Emails' [53] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "base": {
                                        "label": "Курс"
                                    },
                                    "table": {
                                        "label": "Make",
                                        "nested": [
                                            {
                                                "name": "record",
                                                "spec": [
                                                    {
                                                        "name": "fldc26tdGZXfcD398",
                                                        "type": "text",
                                                        "label": "Sender"
                                                    },
                                                    {
                                                        "name": "fldKzai9SvruTL1zb",
                                                        "type": "text",
                                                        "label": "Subject"
                                                    },
                                                    {
                                                        "name": "flddKRJ7MGmUKeDuy",
                                                        "type": "text",
                                                        "label": "Repay-to"
                                                    },
                                                    {
                                                        "name": "fldM3gwJGzIWA98bd",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Date"
                                                    },
                                                    {
                                                        "name": "fldt4PWWHxcEozdeF",
                                                        "type": "text",
                                                        "label": "Text content"
                                                    },
                                                    {
                                                        "name": "fldyhmcgMOki4RfQx",
                                                        "type": "text",
                                                        "label": "Исходящее",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "fld0pTz7lqt4hwSFJ",
                                                        "type": "text",
                                                        "label": "Источник"
                                                    },
                                                    {
                                                        "name": "fldKlJEYOT34Salrv",
                                                        "type": "text",
                                                        "label": "Test"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Record"
                                            }
                                        ]
                                    },
                                    "typecast": {
                                        "mode": "chose"
                                    },
                                    "useColumnId": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "airtable2"
                                        },
                                        "label": "Airtable"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:airtable3,airtable2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "base",
                                    "type": "select",
                                    "label": "Base",
                                    "required": true
                                },
                                {
                                    "name": "typecast",
                                    "type": "boolean",
                                    "label": "Smart links",
                                    "required": true
                                },
                                {
                                    "name": "useColumnId",
                                    "type": "boolean",
                                    "label": "Use Column ID",
                                    "required": true
                                },
                                {
                                    "name": "table",
                                    "type": "select",
                                    "label": "Table",
                                    "required": true
                                },
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldc26tdGZXfcD398",
                                            "type": "text",
                                            "label": "Sender"
                                        },
                                        {
                                            "name": "fldKzai9SvruTL1zb",
                                            "type": "text",
                                            "label": "Subject"
                                        },
                                        {
                                            "name": "flddKRJ7MGmUKeDuy",
                                            "type": "text",
                                            "label": "Repay-to"
                                        },
                                        {
                                            "name": "fldM3gwJGzIWA98bd",
                                            "time": true,
                                            "type": "date",
                                            "label": "Date"
                                        },
                                        {
                                            "name": "fldt4PWWHxcEozdeF",
                                            "type": "text",
                                            "label": "Text content"
                                        },
                                        {
                                            "name": "fldyhmcgMOki4RfQx",
                                            "type": "text",
                                            "label": "Исходящее"
                                        },
                                        {
                                            "name": "fld0pTz7lqt4hwSFJ",
                                            "type": "text",
                                            "label": "Источник"
                                        },
                                        {
                                            "name": "fldKlJEYOT34Salrv",
                                            "type": "text",
                                            "label": "Test"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ],
                            "interface": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "createdTime",
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "Sender",
                                    "type": "text",
                                    "label": "Sender"
                                },
                                {
                                    "name": "Subject",
                                    "type": "text",
                                    "label": "Subject"
                                },
                                {
                                    "name": "Repay-to",
                                    "type": "text",
                                    "label": "Repay-to"
                                },
                                {
                                    "name": "Date",
                                    "time": true,
                                    "type": "date",
                                    "label": "Date"
                                },
                                {
                                    "name": "Text content",
                                    "type": "text",
                                    "label": "Text content"
                                },
                                {
                                    "name": "Исходящее",
                                    "type": "text",
                                    "label": "Исходящее",
                                    "multiline": true
                                },
                                {
                                    "name": "Источник",
                                    "type": "text",
                                    "label": "Источник"
                                },
                                {
                                    "name": "Created",
                                    "type": "date",
                                    "label": "Created"
                                },
                                {
                                    "name": "Test",
                                    "type": "text",
                                    "label": "Test"
                                }
                            ]
                        }
                    },
                    {
                        "id": 57,
                        "module": "util:SetVariable2",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "name": "Promt",
                            "scope": "roundtrip",
                            "value": "Найди в этом что-то самое УЖАСНОЕ, ХОРОР!"
                        },
                        "metadata": {
                            "designer": {
                                "x": 268,
                                "y": -401
                            },
                            "restore": {
                                "expect": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                }
                            },
                            "expect": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Variable name",
                                    "required": true
                                },
                                {
                                    "name": "scope",
                                    "type": "select",
                                    "label": "Variable lifetime",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "roundtrip",
                                            "execution"
                                        ]
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Variable value"
                                }
                            ],
                            "interface": [
                                {
                                    "name": "Promt",
                                    "type": "any",
                                    "label": "Promt"
                                }
                            ]
                        }
                    },
                    {
                        "id": 55,
                        "module": "openai-gpt-3:CreateCompletion",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 4204809
                        },
                        "mapper": {
                            "model": "gpt-4.1",
                            "top_p": "1",
                            "select": "chat",
                            "messages": [
                                {
                                    "role": "assistant",
                                    "content": "{{57.Promt}}"
                                },
                                {
                                    "role": "user",
                                    "content": "{{53.text}}",
                                    "imageDetail": "auto"
                                }
                            ],
                            "max_tokens": "2048",
                            "temperature": "1",
                            "n_completions": "1",
                            "response_format": "text"
                        },
                        "metadata": {
                            "designer": {
                                "x": 850,
                                "y": -212,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Gmail - Watch Emails' [53] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "stop": {
                                        "mode": "chose"
                                    },
                                    "model": {
                                        "mode": "chose",
                                        "label": "gpt-4.1 (system)"
                                    },
                                    "select": {
                                        "label": "Create a Chat Completion (GPT and o1 models)"
                                    },
                                    "messages": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "role": {
                                                    "mode": "chose",
                                                    "label": "Assistant"
                                                }
                                            },
                                            {
                                                "role": {
                                                    "mode": "chose",
                                                    "label": "User"
                                                },
                                                "imageDetail": {
                                                    "mode": "chose",
                                                    "label": "Auto"
                                                },
                                                "imageInputType": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                }
                                            }
                                        ]
                                    },
                                    "logit_bias": {
                                        "mode": "chose"
                                    },
                                    "response_format": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "additionalParameters": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "openai-gpt-3"
                                        },
                                        "label": "2 My OpenAI connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:openai-gpt-3",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "select",
                                    "type": "select",
                                    "label": "Select Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "chat",
                                            "prompt"
                                        ]
                                    }
                                },
                                {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature",
                                    "validate": {
                                        "max": 2,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "top_p",
                                    "type": "number",
                                    "label": "Top P",
                                    "validate": {
                                        "max": 1,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "n_completions",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "frequency_penalty",
                                    "type": "number",
                                    "label": "Frequency Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "presence_penalty",
                                    "type": "number",
                                    "label": "Presence Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "logit_bias",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "token",
                                                "type": "text",
                                                "label": "Token ID",
                                                "required": true
                                            },
                                            {
                                                "name": "probability",
                                                "type": "number",
                                                "label": "Probability",
                                                "required": true,
                                                "validate": {
                                                    "max": 100,
                                                    "min": -100
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Token Probability"
                                    },
                                    "type": "array",
                                    "label": "Token Probability"
                                },
                                {
                                    "name": "seed",
                                    "type": "integer",
                                    "label": "Seed"
                                },
                                {
                                    "name": "stop",
                                    "spec": {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Stop Sequence"
                                    },
                                    "type": "array",
                                    "label": "Stop Sequences",
                                    "validate": {
                                        "maxItems": 4
                                    }
                                },
                                {
                                    "name": "additionalParameters",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Parameter Name",
                                                "required": true
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Input Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Parameter Value"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Number",
                                                        "value": "number",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "number",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Boolean",
                                                        "value": "boolean",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "boolean",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Date",
                                                        "value": "date",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "date",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Any",
                                                        "value": "any",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameter"
                                    },
                                    "type": "array",
                                    "label": "Other Input Parameters"
                                },
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "max_tokens",
                                    "type": "uinteger",
                                    "label": "Max Completion Tokens"
                                },
                                {
                                    "name": "messages",
                                    "spec": {
                                        "name": "value",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": {
                                                    "store": [
                                                        {
                                                            "label": "User",
                                                            "value": "user",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                },
                                                                {
                                                                    "name": "imageInputType",
                                                                    "type": "select",
                                                                    "label": "Image Input Type",
                                                                    "options": [
                                                                        {
                                                                            "label": "URL",
                                                                            "value": "url",
                                                                            "nested": [
                                                                                {
                                                                                    "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                                    "name": "imageUrl",
                                                                                    "type": "url",
                                                                                    "label": "Image URL"
                                                                                }
                                                                            ]
                                                                        },
                                                                        {
                                                                            "label": "Image File",
                                                                            "value": "file",
                                                                            "nested": [
                                                                                {
                                                                                    "name": "imageFile",
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                            "name": "imageFilename",
                                                                                            "type": "filename",
                                                                                            "label": "Image Filename",
                                                                                            "semantic": "file:name",
                                                                                            "extension": [
                                                                                                "jpg",
                                                                                                "jpeg",
                                                                                                "png",
                                                                                                "webp",
                                                                                                "gif"
                                                                                            ]
                                                                                        },
                                                                                        {
                                                                                            "name": "imageData",
                                                                                            "type": "buffer",
                                                                                            "label": "Image Data",
                                                                                            "semantic": "file:data"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Image"
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "mappable": false
                                                                },
                                                                {
                                                                    "help": "Recommended value: `Auto`",
                                                                    "name": "imageDetail",
                                                                    "type": "select",
                                                                    "label": "Image Detail",
                                                                    "options": [
                                                                        {
                                                                            "label": "Auto",
                                                                            "value": "auto",
                                                                            "default": true
                                                                        },
                                                                        {
                                                                            "label": "High",
                                                                            "value": "high"
                                                                        },
                                                                        {
                                                                            "label": "Low",
                                                                            "value": "low"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Developer / System",
                                                            "value": "system",
                                                            "nested": [
                                                                {
                                                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Text Content"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Message"
                                    },
                                    "type": "array",
                                    "label": "Messages",
                                    "required": true
                                },
                                {
                                    "name": "response_format",
                                    "type": "select",
                                    "label": "Response Format",
                                    "validate": {
                                        "enum": [
                                            "text",
                                            "json_object"
                                        ]
                                    }
                                }
                            ],
                            "interface": [
                                {
                                    "name": "result",
                                    "type": "any",
                                    "label": "Result"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "object",
                                    "type": "text",
                                    "label": "Object"
                                },
                                {
                                    "name": "created",
                                    "type": "date",
                                    "label": "Created"
                                },
                                {
                                    "name": "model",
                                    "type": "text",
                                    "label": "Model"
                                },
                                {
                                    "name": "choices",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        },
                                        {
                                            "name": "index",
                                            "type": "number",
                                            "label": "Index"
                                        },
                                        {
                                            "name": "logprobs",
                                            "type": "text",
                                            "label": "Log Probs"
                                        },
                                        {
                                            "name": "finish_reason",
                                            "type": "text",
                                            "label": "Finish Reason"
                                        },
                                        {
                                            "name": "message",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "text",
                                                    "label": "Role"
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content"
                                                },
                                                {
                                                    "name": "refusal",
                                                    "type": "text",
                                                    "label": "Refusal"
                                                },
                                                {
                                                    "name": "annotations",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "url_citation",
                                                            "spec": [
                                                                {
                                                                    "name": "end_index",
                                                                    "type": "number",
                                                                    "label": "End Index"
                                                                },
                                                                {
                                                                    "name": "start_index",
                                                                    "type": "number",
                                                                    "label": "Start Index"
                                                                },
                                                                {
                                                                    "name": "title",
                                                                    "type": "text",
                                                                    "label": "Title"
                                                                },
                                                                {
                                                                    "name": "url",
                                                                    "type": "text",
                                                                    "label": "URL"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "URL Citation"
                                                        }
                                                    ],
                                                    "type": "array",
                                                    "label": "Annotations"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Choices"
                                },
                                {
                                    "name": "usage",
                                    "spec": [
                                        {
                                            "name": "prompt_tokens",
                                            "type": "number",
                                            "label": "Prompt Tokens"
                                        },
                                        {
                                            "name": "completion_tokens",
                                            "type": "text",
                                            "label": "Completion Tokens"
                                        },
                                        {
                                            "name": "total_tokens",
                                            "type": "number",
                                            "label": "Total Tokens"
                                        },
                                        {
                                            "name": "prompt_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "cached_tokens",
                                                    "type": "uinteger",
                                                    "label": "Cached Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "image_tokens",
                                                    "type": "uinteger",
                                                    "label": "Image Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Prompt Tokens Details"
                                        },
                                        {
                                            "name": "completion_tokens_details",
                                            "spec": [
                                                {
                                                    "name": "reasoning_tokens",
                                                    "type": "uinteger",
                                                    "label": "Reasoning Tokens"
                                                },
                                                {
                                                    "name": "text_tokens",
                                                    "type": "uinteger",
                                                    "label": "Text Tokens"
                                                },
                                                {
                                                    "name": "audio_tokens",
                                                    "type": "uinteger",
                                                    "label": "Audio Tokens"
                                                },
                                                {
                                                    "name": "accepted_prediction_tokens",
                                                    "type": "uinteger",
                                                    "label": "Accepted Prediction Tokens"
                                                },
                                                {
                                                    "name": "rejected_prediction_tokens",
                                                    "type": "uinteger",
                                                    "label": "Rejected Prediction Tokens"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Completion Tokens Details"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Usage"
                                },
                                {
                                    "name": "service_tier",
                                    "type": "text",
                                    "label": "Service Tier"
                                },
                                {
                                    "name": "system_fingerprint",
                                    "type": "text",
                                    "label": "System Fingerprint"
                                }
                            ]
                        }
                    },
                    {
                        "id": 56,
                        "module": "telegram:SendReplyMessage",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 4189079
                        },
                        "mapper": {
                            "text": "🍎_Промт:_{{57.Promt}}\n\n🌏_Тезис:_{{53.text}}\n\n🤖_Ответ модели:_{{55.result}}",
                            "chatId": "196267257",
                            "parseMode": "",
                            "replyMarkup": "",
                            "messageThreadId": "",
                            "replyToMessageId": "",
                            "replyMarkupAssembleType": "reply_markup_enter"
                        },
                        "metadata": {
                            "designer": {
                                "x": 1273,
                                "y": -4,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Gmail - Watch Emails' [53] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "parseMode": {
                                        "label": "Empty"
                                    },
                                    "disableNotification": {
                                        "mode": "chose"
                                    },
                                    "replyMarkupAssembleType": {
                                        "label": "Enter the Reply Markup"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "telegram"
                                        },
                                        "label": "3"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:telegram",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "chatId",
                                    "type": "text",
                                    "label": "Chat ID",
                                    "required": true
                                },
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text",
                                    "required": true
                                },
                                {
                                    "name": "messageThreadId",
                                    "type": "number",
                                    "label": "Message Thread ID"
                                },
                                {
                                    "name": "parseMode",
                                    "type": "select",
                                    "label": "Parse Mode",
                                    "validate": {
                                        "enum": [
                                            "Markdown",
                                            "HTML"
                                        ]
                                    }
                                },
                                {
                                    "name": "disableNotification",
                                    "type": "boolean",
                                    "label": "Disable Notifications"
                                },
                                {
                                    "name": "disableWebPagePreview",
                                    "type": "boolean",
                                    "label": "Disable Link Previews"
                                },
                                {
                                    "name": "replyToMessageId",
                                    "type": "number",
                                    "label": "Original Message ID"
                                },
                                {
                                    "name": "replyMarkupAssembleType",
                                    "type": "select",
                                    "label": "Enter/Assemble the Reply Markup Field",
                                    "validate": {
                                        "enum": [
                                            "reply_markup_enter",
                                            "reply_markup_assemble"
                                        ]
                                    }
                                },
                                {
                                    "name": "replyMarkup",
                                    "type": "text",
                                    "label": "Reply Markup"
                                }
                            ]
                        }
                    },
                    {
                        "id": 49,
                        "module": "openai-gpt-3:generateAnAudio",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 4204809
                        },
                        "mapper": {
                            "input": "{{55.result}}",
                            "model": "gpt-4o-mini-tts",
                            "speed": "1",
                            "voice": "echo",
                            "instructions": "Скажи ЖУТКИМ голосом ДЕМОНА!",
                            "outputFilename": "{{53.subject}}",
                            "response_format": "mp3"
                        },
                        "metadata": {
                            "designer": {
                                "x": 1699,
                                "y": -3,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Gmail - Watch Emails' [53] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "model": {
                                        "mode": "chose",
                                        "label": "gpt-4o-mini-tts (system)",
                                        "nested": [
                                            {
                                                "help": "Control the voice of your generated audio with additional instructions.",
                                                "name": "instructions",
                                                "type": "text",
                                                "label": "Instructions"
                                            }
                                        ]
                                    },
                                    "voice": {
                                        "mode": "chose",
                                        "label": "Echo"
                                    },
                                    "response_format": {
                                        "mode": "chose",
                                        "label": "MP3"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "openai-gpt-3"
                                        },
                                        "label": "2 My OpenAI connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:openai-gpt-3",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "input",
                                    "type": "text",
                                    "label": "Input",
                                    "required": true,
                                    "validate": {
                                        "max": 4096,
                                        "min": 1
                                    }
                                },
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "voice",
                                    "type": "select",
                                    "label": "Voice",
                                    "validate": {
                                        "enum": [
                                            "alloy",
                                            "ash",
                                            "ballad",
                                            "coral",
                                            "echo",
                                            "fable",
                                            "onyx",
                                            "nova",
                                            "sage",
                                            "shimmer",
                                            "verse"
                                        ]
                                    }
                                },
                                {
                                    "name": "outputFilename",
                                    "type": "text",
                                    "label": "Output Filename"
                                },
                                {
                                    "name": "response_format",
                                    "type": "select",
                                    "label": "Response Format",
                                    "validate": {
                                        "enum": [
                                            "mp3",
                                            "opus",
                                            "aac",
                                            "flac",
                                            "wav",
                                            "pcm"
                                        ]
                                    }
                                },
                                {
                                    "name": "speed",
                                    "type": "number",
                                    "label": "Speed",
                                    "validate": {
                                        "max": 4,
                                        "min": 0.25
                                    }
                                },
                                {
                                    "name": "instructions",
                                    "type": "text",
                                    "label": "Instructions"
                                }
                            ],
                            "advanced": true
                        }
                    },
                    {
                        "id": 51,
                        "module": "telegram:sendAudio",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 3794539
                        },
                        "mapper": {
                            "data": "{{49.outputAudio}}",
                            "title": "",
                            "chatId": "196267257",
                            "caption": "0_Gmail вообще. \nПредмет: {{53.subject}}\n------\nСаммари: {{55.result}}\n------\n\n\n\n\nhttps://us1.make.com/104641/scenarios/3949691/edit",
                            "duration": "",
                            "filename": "{{49.outputFilename}}",
                            "sendType": "send_bydata",
                            "parseMode": "",
                            "performer": "",
                            "contentType": "",
                            "replyMarkup": "",
                            "messageThreadId": "",
                            "replyMarkupAssembleType": "reply_markup_enter"
                        },
                        "metadata": {
                            "designer": {
                                "x": 2323,
                                "y": 5,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Gmail - Watch Emails' [53] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "sendType": {
                                        "label": "Data"
                                    },
                                    "parseMode": {
                                        "label": "Empty"
                                    },
                                    "contentType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "replyMarkupAssembleType": {
                                        "label": "Enter the Reply Markup"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "telegram"
                                        },
                                        "label": "Make_Tribute_bot"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:telegram",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "chatId",
                                    "type": "text",
                                    "label": "Chat ID",
                                    "required": true
                                },
                                {
                                    "name": "messageThreadId",
                                    "type": "number",
                                    "label": "Message Thread ID"
                                },
                                {
                                    "name": "caption",
                                    "type": "text",
                                    "label": "Caption"
                                },
                                {
                                    "name": "sendType",
                                    "type": "select",
                                    "label": "Send by",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "send_bydata",
                                            "send_byurl",
                                            "send_byid"
                                        ]
                                    }
                                },
                                {
                                    "name": "parseMode",
                                    "type": "select",
                                    "label": "Parse Mode",
                                    "validate": {
                                        "enum": [
                                            "Markdown",
                                            "HTML"
                                        ]
                                    }
                                },
                                {
                                    "name": "disableNotification",
                                    "type": "boolean",
                                    "label": "Disable Notifications"
                                },
                                {
                                    "name": "duration",
                                    "type": "number",
                                    "label": "Duration"
                                },
                                {
                                    "name": "performer",
                                    "type": "text",
                                    "label": "Performer"
                                },
                                {
                                    "name": "title",
                                    "type": "text",
                                    "label": "Title"
                                },
                                {
                                    "name": "replyMarkupAssembleType",
                                    "type": "select",
                                    "label": "Enter/Assemble the Reply Markup Field",
                                    "validate": {
                                        "enum": [
                                            "reply_markup_enter",
                                            "reply_markup_assemble"
                                        ]
                                    }
                                },
                                {
                                    "name": "contentType",
                                    "type": "select",
                                    "label": "Content Type"
                                },
                                {
                                    "name": "filename",
                                    "type": "text",
                                    "label": "File Name",
                                    "required": true
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true
                                },
                                {
                                    "name": "replyMarkup",
                                    "type": "text",
                                    "label": "Reply Markup"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "us1.make.com",
        "notes": []
    }
}