Input blueprints/telegram_blueprint(4).json
{
    "name": "Telegram",
    "flow": [
        {
            "id": 13,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2228651
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1444,
                    "y": 22
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "5"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 41,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4204765
            },
            "mapper": {
                "mode": "fromAll",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "spreadsheetId": "1lAq1ven7D5UWZ5t45kxYuHYjMahFFJ4ZuPk_Blnc7NU",
                "sheetId": "Make",
                "includesHeaders": true,
                "values": {
                    "0": "{{13.message.text}}",
                    "2": "Телеграм"
                }
            },
            "metadata": {
                "designer": {
                    "x": -978,
                    "y": 17
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Gmail (alexeykrol@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Select from all"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Make"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "Входящее сообщение (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "Исходящее сообщение (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "(C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "(D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "(E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "(F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "(G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "(H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "(I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "(J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "(K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "(L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "(M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "(N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "(O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "(P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "(Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "(R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "(S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "(T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "(Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "(Z)",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Входящее сообщение (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Исходящее сообщение (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "(C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "(D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "(E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "(F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 36,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4156908
            },
            "mapper": {
                "base": "apphqV53mWmQH5Tv2",
                "typecast": false,
                "useColumnId": false,
                "table": "tbln88CbX23uUCG8r",
                "record": {
                    "fldt4PWWHxcEozdeF": "{{13.message.text}}",
                    "fld0pTz7lqt4hwSFJ": "Telegram"
                }
            },
            "metadata": {
                "designer": {
                    "x": -520,
                    "y": 25
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Airtable",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "Курс"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldt4PWWHxcEozdeF",
                                            "label": "Входящее",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldyhmcgMOki4RfQx",
                                            "label": "Исходящее",
                                            "type": "text",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fld0pTz7lqt4hwSFJ",
                                            "label": "Источник",
                                            "type": "text"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ],
                            "label": "Make"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fldt4PWWHxcEozdeF",
                                "type": "text",
                                "label": "Входящее"
                            },
                            {
                                "name": "fldyhmcgMOki4RfQx",
                                "type": "text",
                                "label": "Исходящее"
                            },
                            {
                                "name": "fld0pTz7lqt4hwSFJ",
                                "type": "text",
                                "label": "Источник"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Входящее",
                        "label": "Входящее",
                        "type": "text"
                    },
                    {
                        "name": "Исходящее",
                        "label": "Исходящее",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Источник",
                        "label": "Источник",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 39,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3794539
            },
            "mapper": {
                "text": "🍎 🤖 🏂 Контроль входа:\"{{13.message.text}}\"\n",
                "chatId": "196267257",
                "parseMode": "",
                "replyMarkup": "",
                "messageThreadId": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter"
            },
            "metadata": {
                "designer": {
                    "x": -66,
                    "y": 19
                },
                "restore": {
                    "expect": {
                        "parseMode": {
                            "label": "Empty"
                        },
                        "disableNotification": {
                            "mode": "chose"
                        },
                        "replyMarkupAssembleType": {
                            "label": "Enter the Reply Markup"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            },
                            "label": "Make_Tribute_bot"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        },
        {
            "id": 38,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4204809
            },
            "mapper": {
                "select": "chat",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "model": "gpt-4o",
                "max_tokens": "1048",
                "messages": [
                    {
                        "role": "user",
                        "content": "Пронализируй этот тезис и напиши, что думаешь? \n{{13.message.text}}",
                        "imageDetail": "auto"
                    }
                ],
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 550,
                    "y": 15
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "2 My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "mappable": false,
                                                        "options": [
                                                            {
                                                                "value": "url",
                                                                "label": "URL",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageUrl",
                                                                        "label": "Image URL",
                                                                        "type": "url",
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab."
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "value": "file",
                                                                "label": "Image File",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "label": "Image",
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ],
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`."
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "help": "Recommended value: `Auto`",
                                                        "options": [
                                                            {
                                                                "value": "auto",
                                                                "default": true,
                                                                "label": "Auto"
                                                            },
                                                            {
                                                                "value": "high",
                                                                "label": "High"
                                                            },
                                                            {
                                                                "value": "low",
                                                                "label": "Low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1123,
                    "y": 15
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 16,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3794539
                            },
                            "filter": {
                                "name": "Текст НЕ содержит слово Повтор",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{13.message.text}}",
                                            "b": "Повтор",
                                            "o": "text:notcontain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "chatId": "196267257",
                                "text": "chatGPT говорит: {{38.result}}\n",
                                "messageThreadId": "",
                                "parseMode": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter",
                                "replyMarkup": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1646,
                                    "y": -4
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Make_Tribute_bot",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 7,
                        "module": "builtin:BasicRepeater",
                        "version": 1,
                        "parameters": {},
                        "filter": {
                            "name": "Текст содержит слово Повтор",
                            "conditions": [
                                [
                                    {
                                        "a": "{{13.message.text}}",
                                        "b": "Повтор",
                                        "o": "text:contain"
                                    }
                                ]
                            ]
                        },
                        "mapper": {
                            "step": "1",
                            "start": "1",
                            "repeats": "1"
                        },
                        "metadata": {
                            "designer": {
                                "x": 2732,
                                "y": -714,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {},
                            "expect": [
                                {
                                    "name": "start",
                                    "type": "number",
                                    "label": "Initial value",
                                    "required": true
                                },
                                {
                                    "name": "repeats",
                                    "type": "number",
                                    "label": "Repeats",
                                    "required": true,
                                    "validate": {
                                        "max": 10000,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "step",
                                    "type": "number",
                                    "label": "Step",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 8,
                        "module": "telegram:SendReplyMessage",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 3794539
                        },
                        "mapper": {
                            "text": "🏂 Источник: Слушает Telegram. \nПовтор №: {{7.i}}\n\nКопия текста: \"{{13.message.text}}\"\n\n{{13.message.date}}\n{{13.message.text}}\nд рюлоп гдп\n\nюдл рюдрл 🏂 🏂 🏂 🏂 🏂 🏂 🏂 \n\n{{13.message.message_id}}",
                            "chatId": "196267257",
                            "parseMode": "",
                            "replyMarkup": "",
                            "messageThreadId": "",
                            "replyToMessageId": "",
                            "replyMarkupAssembleType": "reply_markup_enter"
                        },
                        "metadata": {
                            "designer": {
                                "x": 3272,
                                "y": -1001,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Telegram Bot - Watch Updates' [13] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "parseMode": {
                                        "label": "Empty"
                                    },
                                    "disableNotification": {
                                        "mode": "chose"
                                    },
                                    "replyMarkupAssembleType": {
                                        "label": "Enter the Reply Markup"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "telegram"
                                        },
                                        "label": "Make_Tribute_bot"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:telegram",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "chatId",
                                    "type": "text",
                                    "label": "Chat ID",
                                    "required": true
                                },
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text",
                                    "required": true
                                },
                                {
                                    "name": "messageThreadId",
                                    "type": "number",
                                    "label": "Message Thread ID"
                                },
                                {
                                    "name": "parseMode",
                                    "type": "select",
                                    "label": "Parse Mode",
                                    "validate": {
                                        "enum": [
                                            "Markdown",
                                            "HTML"
                                        ]
                                    }
                                },
                                {
                                    "name": "disableNotification",
                                    "type": "boolean",
                                    "label": "Disable Notifications"
                                },
                                {
                                    "name": "disableWebPagePreview",
                                    "type": "boolean",
                                    "label": "Disable Link Previews"
                                },
                                {
                                    "name": "replyToMessageId",
                                    "type": "number",
                                    "label": "Original Message ID"
                                },
                                {
                                    "name": "replyMarkupAssembleType",
                                    "type": "select",
                                    "label": "Enter/Assemble the Reply Markup Field",
                                    "validate": {
                                        "enum": [
                                            "reply_markup_enter",
                                            "reply_markup_assemble"
                                        ]
                                    }
                                },
                                {
                                    "name": "replyMarkup",
                                    "type": "text",
                                    "label": "Reply Markup"
                                }
                            ]
                        }
                    }
                ],
                [
                    {
                        "id": 25,
                        "module": "builtin:BasicRouter",
                        "version": 1,
                        "mapper": null,
                        "metadata": {
                            "designer": {
                                "x": 2155,
                                "y": 343,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            }
                        },
                        "routes": [
                            {
                                "flow": [
                                    {
                                        "id": 22,
                                        "module": "regexp:Parser",
                                        "version": 1,
                                        "parameters": {
                                            "global": true,
                                            "pattern": "[0-9]+",
                                            "multiline": false,
                                            "sensitive": false,
                                            "singleline": true,
                                            "continueWhenNoRes": false,
                                            "ignoreInfiniteLoopsWhenGlobal": false
                                        },
                                        "mapper": {
                                            "text": "{{13.message.text}}"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 2400,
                                                "y": -266,
                                                "messages": [
                                                    {
                                                        "category": "reference",
                                                        "severity": "warning",
                                                        "message": "Referenced module 'Telegram Bot - Watch Updates' [13] is not accessible."
                                                    }
                                                ]
                                            },
                                            "restore": {},
                                            "parameters": [
                                                {
                                                    "name": "pattern",
                                                    "type": "text",
                                                    "label": "Pattern",
                                                    "required": true
                                                },
                                                {
                                                    "name": "global",
                                                    "type": "boolean",
                                                    "label": "Global match",
                                                    "required": true
                                                },
                                                {
                                                    "name": "sensitive",
                                                    "type": "boolean",
                                                    "label": "Case sensitive",
                                                    "required": true
                                                },
                                                {
                                                    "name": "multiline",
                                                    "type": "boolean",
                                                    "label": "Multiline",
                                                    "required": true
                                                },
                                                {
                                                    "name": "singleline",
                                                    "type": "boolean",
                                                    "label": "Singleline",
                                                    "required": true
                                                },
                                                {
                                                    "name": "continueWhenNoRes",
                                                    "type": "boolean",
                                                    "label": "Continue the execution of the route even if the module finds no matches",
                                                    "required": true
                                                },
                                                {
                                                    "name": "ignoreInfiniteLoopsWhenGlobal",
                                                    "type": "boolean",
                                                    "label": "Ignore errors when there is an infinite search loop",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                }
                                            ],
                                            "interface": [
                                                {
                                                    "name": "i",
                                                    "type": "uinteger",
                                                    "label": "i"
                                                },
                                                {
                                                    "name": "__IMTMATCH__",
                                                    "type": "any",
                                                    "label": "Fallback Match"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 17,
                                        "module": "math:EvaluateExpression",
                                        "version": 1,
                                        "parameters": {},
                                        "mapper": {
                                            "expression": "{{22.`__IMTMATCH__`}}*100"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 2829,
                                                "y": -253
                                            },
                                            "restore": {},
                                            "expect": [
                                                {
                                                    "name": "expression",
                                                    "type": "text",
                                                    "label": "Expression",
                                                    "required": true
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 27,
                                        "module": "math:EvaluateExpression",
                                        "version": 1,
                                        "parameters": {},
                                        "mapper": {
                                            "expression": "{{22.`__IMTMATCH__`}}{{17.result}}"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 3488,
                                                "y": -301
                                            },
                                            "restore": {},
                                            "expect": [
                                                {
                                                    "name": "expression",
                                                    "type": "text",
                                                    "label": "Expression",
                                                    "required": true
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 18,
                                        "module": "telegram:SendReplyMessage",
                                        "version": 1,
                                        "parameters": {
                                            "__IMTCONN__": 3794539
                                        },
                                        "mapper": {
                                            "text": "🍎  Источник: Этот сценарий слушает Telegram.  Тестовое сообщение. 888888888888 - {{16.chat.username}}\n\nВход:{{22.`__IMTMATCH__`}}\n\nВычисление 1: {{`17`}}\n\nВычисление 2: {{`27`}}\n\n{{`17`}} + {{`27`}}\n\n\n{{13.message.date}}",
                                            "chatId": "196267257",
                                            "parseMode": "",
                                            "replyMarkup": "",
                                            "messageThreadId": "",
                                            "replyToMessageId": "",
                                            "replyMarkupAssembleType": "reply_markup_enter"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 4155,
                                                "y": 223,
                                                "messages": [
                                                    {
                                                        "category": "reference",
                                                        "severity": "warning",
                                                        "message": "Referenced module 'Telegram Bot - Watch Updates' [13] is not accessible."
                                                    },
                                                    {
                                                        "category": "reference",
                                                        "severity": "warning",
                                                        "message": "Referenced module 'Telegram Bot - Send a Text Message or a Reply' [16] is not accessible."
                                                    }
                                                ]
                                            },
                                            "restore": {
                                                "expect": {
                                                    "parseMode": {
                                                        "label": "Empty"
                                                    },
                                                    "disableNotification": {
                                                        "mode": "chose"
                                                    },
                                                    "replyMarkupAssembleType": {
                                                        "label": "Enter the Reply Markup"
                                                    }
                                                },
                                                "parameters": {
                                                    "__IMTCONN__": {
                                                        "data": {
                                                            "scoped": "true",
                                                            "connection": "telegram"
                                                        },
                                                        "label": "Make_Tribute_bot"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "__IMTCONN__",
                                                    "type": "account:telegram",
                                                    "label": "Connection",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "chatId",
                                                    "type": "text",
                                                    "label": "Chat ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text",
                                                    "required": true
                                                },
                                                {
                                                    "name": "messageThreadId",
                                                    "type": "number",
                                                    "label": "Message Thread ID"
                                                },
                                                {
                                                    "name": "parseMode",
                                                    "type": "select",
                                                    "label": "Parse Mode",
                                                    "validate": {
                                                        "enum": [
                                                            "Markdown",
                                                            "HTML"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "disableNotification",
                                                    "type": "boolean",
                                                    "label": "Disable Notifications"
                                                },
                                                {
                                                    "name": "disableWebPagePreview",
                                                    "type": "boolean",
                                                    "label": "Disable Link Previews"
                                                },
                                                {
                                                    "name": "replyToMessageId",
                                                    "type": "number",
                                                    "label": "Original Message ID"
                                                },
                                                {
                                                    "name": "replyMarkupAssembleType",
                                                    "type": "select",
                                                    "label": "Enter/Assemble the Reply Markup Field",
                                                    "validate": {
                                                        "enum": [
                                                            "reply_markup_enter",
                                                            "reply_markup_assemble"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "replyMarkup",
                                                    "type": "text",
                                                    "label": "Reply Markup"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 28,
                                        "module": "util:SetVariable2",
                                        "version": 1,
                                        "parameters": {},
                                        "mapper": {
                                            "name": "var",
                                            "scope": "roundtrip",
                                            "value": "{{`27`}}"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 4547,
                                                "y": 208
                                            },
                                            "restore": {
                                                "expect": {
                                                    "scope": {
                                                        "label": "One cycle"
                                                    }
                                                }
                                            },
                                            "expect": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Variable name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "scope",
                                                    "type": "select",
                                                    "label": "Variable lifetime",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            "roundtrip",
                                                            "execution"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Variable value"
                                                }
                                            ],
                                            "interface": [
                                                {
                                                    "name": "var",
                                                    "type": "any",
                                                    "label": "var"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 29,
                                        "module": "telegram:SendReplyMessage",
                                        "version": 1,
                                        "parameters": {
                                            "__IMTCONN__": 3794539
                                        },
                                        "mapper": {
                                            "text": "🍎  Источник: Этот сценарий слушает Telegram.  Тестовое сообщение. \n\nЗначение переменной Var_1: {{28.var}}\n\n{{13.message.date}}",
                                            "chatId": "196267257",
                                            "parseMode": "",
                                            "replyMarkup": "",
                                            "messageThreadId": "",
                                            "replyToMessageId": "",
                                            "replyMarkupAssembleType": "reply_markup_enter"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 4909,
                                                "y": 214,
                                                "messages": [
                                                    {
                                                        "category": "reference",
                                                        "severity": "warning",
                                                        "message": "Referenced module 'Telegram Bot - Watch Updates' [13] is not accessible."
                                                    }
                                                ]
                                            },
                                            "restore": {
                                                "expect": {
                                                    "parseMode": {
                                                        "label": "Empty"
                                                    },
                                                    "disableNotification": {
                                                        "mode": "chose"
                                                    },
                                                    "replyMarkupAssembleType": {
                                                        "label": "Enter the Reply Markup"
                                                    }
                                                },
                                                "parameters": {
                                                    "__IMTCONN__": {
                                                        "data": {
                                                            "scoped": "true",
                                                            "connection": "telegram"
                                                        },
                                                        "label": "Make_Tribute_bot"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "__IMTCONN__",
                                                    "type": "account:telegram",
                                                    "label": "Connection",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "chatId",
                                                    "type": "text",
                                                    "label": "Chat ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text",
                                                    "required": true
                                                },
                                                {
                                                    "name": "messageThreadId",
                                                    "type": "number",
                                                    "label": "Message Thread ID"
                                                },
                                                {
                                                    "name": "parseMode",
                                                    "type": "select",
                                                    "label": "Parse Mode",
                                                    "validate": {
                                                        "enum": [
                                                            "Markdown",
                                                            "HTML"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "disableNotification",
                                                    "type": "boolean",
                                                    "label": "Disable Notifications"
                                                },
                                                {
                                                    "name": "disableWebPagePreview",
                                                    "type": "boolean",
                                                    "label": "Disable Link Previews"
                                                },
                                                {
                                                    "name": "replyToMessageId",
                                                    "type": "number",
                                                    "label": "Original Message ID"
                                                },
                                                {
                                                    "name": "replyMarkupAssembleType",
                                                    "type": "select",
                                                    "label": "Enter/Assemble the Reply Markup Field",
                                                    "validate": {
                                                        "enum": [
                                                            "reply_markup_enter",
                                                            "reply_markup_assemble"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "replyMarkup",
                                                    "type": "text",
                                                    "label": "Reply Markup"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 30,
                                        "module": "regexp:Parser",
                                        "version": 1,
                                        "parameters": {
                                            "global": true,
                                            "pattern": "[0-9]+",
                                            "multiline": false,
                                            "sensitive": false,
                                            "singleline": true,
                                            "continueWhenNoRes": false,
                                            "ignoreInfiniteLoopsWhenGlobal": false
                                        },
                                        "mapper": {
                                            "text": "{{28.var}}"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 5253,
                                                "y": 216
                                            },
                                            "restore": {},
                                            "parameters": [
                                                {
                                                    "name": "pattern",
                                                    "type": "text",
                                                    "label": "Pattern",
                                                    "required": true
                                                },
                                                {
                                                    "name": "global",
                                                    "type": "boolean",
                                                    "label": "Global match",
                                                    "required": true
                                                },
                                                {
                                                    "name": "sensitive",
                                                    "type": "boolean",
                                                    "label": "Case sensitive",
                                                    "required": true
                                                },
                                                {
                                                    "name": "multiline",
                                                    "type": "boolean",
                                                    "label": "Multiline",
                                                    "required": true
                                                },
                                                {
                                                    "name": "singleline",
                                                    "type": "boolean",
                                                    "label": "Singleline",
                                                    "required": true
                                                },
                                                {
                                                    "name": "continueWhenNoRes",
                                                    "type": "boolean",
                                                    "label": "Continue the execution of the route even if the module finds no matches",
                                                    "required": true
                                                },
                                                {
                                                    "name": "ignoreInfiniteLoopsWhenGlobal",
                                                    "type": "boolean",
                                                    "label": "Ignore errors when there is an infinite search loop",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                }
                                            ],
                                            "interface": [
                                                {
                                                    "name": "i",
                                                    "type": "uinteger",
                                                    "label": "i"
                                                },
                                                {
                                                    "name": "__IMTMATCH__",
                                                    "type": "any",
                                                    "label": "Fallback Match"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 33,
                                        "module": "util:FunctionSleep",
                                        "version": 1,
                                        "parameters": {},
                                        "mapper": {
                                            "duration": "200"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 5747,
                                                "y": 201
                                            },
                                            "restore": {},
                                            "expect": [
                                                {
                                                    "name": "duration",
                                                    "type": "uinteger",
                                                    "label": "Delay",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 300,
                                                        "min": 1
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 34,
                                        "module": "util:FunctionIncrement",
                                        "version": 1,
                                        "parameters": {
                                            "reset": "run"
                                        },
                                        "mapper": {},
                                        "metadata": {
                                            "designer": {
                                                "x": 6348,
                                                "y": 191
                                            },
                                            "restore": {
                                                "parameters": {
                                                    "reset": {
                                                        "label": "After one cycle"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "reset",
                                                    "type": "select",
                                                    "label": "Reset a value",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            "run",
                                                            "execution",
                                                            "scenario"
                                                        ]
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 31,
                                        "module": "telegram:SendReplyMessage",
                                        "version": 1,
                                        "parameters": {
                                            "__IMTCONN__": 3794539
                                        },
                                        "mapper": {
                                            "text": "🍎  Источник: Этот сценарий слушает Telegram.  Тестовое сообщение. \n\nЗначение переменной Var_2: {{30.`__IMTMATCH__`}}\n\n{{13.message.date}}",
                                            "chatId": "196267257",
                                            "parseMode": "",
                                            "replyMarkup": "",
                                            "messageThreadId": "",
                                            "replyToMessageId": "",
                                            "replyMarkupAssembleType": "reply_markup_enter"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 6913,
                                                "y": 200,
                                                "messages": [
                                                    {
                                                        "category": "reference",
                                                        "severity": "warning",
                                                        "message": "Referenced module 'Telegram Bot - Watch Updates' [13] is not accessible."
                                                    }
                                                ]
                                            },
                                            "restore": {
                                                "expect": {
                                                    "parseMode": {
                                                        "label": "Empty"
                                                    },
                                                    "disableNotification": {
                                                        "mode": "chose"
                                                    },
                                                    "replyMarkupAssembleType": {
                                                        "label": "Enter the Reply Markup"
                                                    }
                                                },
                                                "parameters": {
                                                    "__IMTCONN__": {
                                                        "data": {
                                                            "scoped": "true",
                                                            "connection": "telegram"
                                                        },
                                                        "label": "Make_Tribute_bot"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "__IMTCONN__",
                                                    "type": "account:telegram",
                                                    "label": "Connection",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "chatId",
                                                    "type": "text",
                                                    "label": "Chat ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text",
                                                    "required": true
                                                },
                                                {
                                                    "name": "messageThreadId",
                                                    "type": "number",
                                                    "label": "Message Thread ID"
                                                },
                                                {
                                                    "name": "parseMode",
                                                    "type": "select",
                                                    "label": "Parse Mode",
                                                    "validate": {
                                                        "enum": [
                                                            "Markdown",
                                                            "HTML"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "disableNotification",
                                                    "type": "boolean",
                                                    "label": "Disable Notifications"
                                                },
                                                {
                                                    "name": "disableWebPagePreview",
                                                    "type": "boolean",
                                                    "label": "Disable Link Previews"
                                                },
                                                {
                                                    "name": "replyToMessageId",
                                                    "type": "number",
                                                    "label": "Original Message ID"
                                                },
                                                {
                                                    "name": "replyMarkupAssembleType",
                                                    "type": "select",
                                                    "label": "Enter/Assemble the Reply Markup Field",
                                                    "validate": {
                                                        "enum": [
                                                            "reply_markup_enter",
                                                            "reply_markup_assemble"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "replyMarkup",
                                                    "type": "text",
                                                    "label": "Reply Markup"
                                                }
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "flow": [
                                    {
                                        "id": 26,
                                        "module": "regexp:Parser",
                                        "version": 1,
                                        "parameters": {
                                            "global": true,
                                            "pattern": ".*",
                                            "multiline": false,
                                            "sensitive": false,
                                            "singleline": true,
                                            "continueWhenNoRes": false,
                                            "ignoreInfiniteLoopsWhenGlobal": false
                                        },
                                        "mapper": {
                                            "text": "{{13.message.text}}"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 2844,
                                                "y": 323,
                                                "messages": [
                                                    {
                                                        "category": "reference",
                                                        "severity": "warning",
                                                        "message": "Referenced module 'Telegram Bot - Watch Updates' [13] is not accessible."
                                                    }
                                                ]
                                            },
                                            "restore": {},
                                            "parameters": [
                                                {
                                                    "name": "pattern",
                                                    "type": "text",
                                                    "label": "Pattern",
                                                    "required": true
                                                },
                                                {
                                                    "name": "global",
                                                    "type": "boolean",
                                                    "label": "Global match",
                                                    "required": true
                                                },
                                                {
                                                    "name": "sensitive",
                                                    "type": "boolean",
                                                    "label": "Case sensitive",
                                                    "required": true
                                                },
                                                {
                                                    "name": "multiline",
                                                    "type": "boolean",
                                                    "label": "Multiline",
                                                    "required": true
                                                },
                                                {
                                                    "name": "singleline",
                                                    "type": "boolean",
                                                    "label": "Singleline",
                                                    "required": true
                                                },
                                                {
                                                    "name": "continueWhenNoRes",
                                                    "type": "boolean",
                                                    "label": "Continue the execution of the route even if the module finds no matches",
                                                    "required": true
                                                },
                                                {
                                                    "name": "ignoreInfiniteLoopsWhenGlobal",
                                                    "type": "boolean",
                                                    "label": "Ignore errors when there is an infinite search loop",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                }
                                            ],
                                            "interface": [
                                                {
                                                    "name": "i",
                                                    "type": "uinteger",
                                                    "label": "i"
                                                },
                                                {
                                                    "name": "__IMTMATCH__",
                                                    "type": "any",
                                                    "label": "Fallback Match"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 21,
                                        "module": "telegram:SendReplyMessage",
                                        "version": 1,
                                        "parameters": {
                                            "__IMTCONN__": 3794539
                                        },
                                        "mapper": {
                                            "text": "🤖 Источник: Этот сценарий слушает Telegram.  Тестовое сообщение. \nюдлр д/лр юдр д8768787687\nЭто вторая ветка сценария.\n\nТекст: {{26.`__IMTMATCH__`}}\n\n\n\n{{13.message.date}}",
                                            "chatId": "196267257",
                                            "parseMode": "",
                                            "replyMarkup": "",
                                            "messageThreadId": "",
                                            "replyToMessageId": "",
                                            "replyMarkupAssembleType": "reply_markup_enter"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 3514,
                                                "y": 328,
                                                "messages": [
                                                    {
                                                        "category": "reference",
                                                        "severity": "warning",
                                                        "message": "Referenced module 'Telegram Bot - Watch Updates' [13] is not accessible."
                                                    }
                                                ]
                                            },
                                            "restore": {
                                                "expect": {
                                                    "parseMode": {
                                                        "label": "Empty"
                                                    },
                                                    "disableNotification": {
                                                        "mode": "chose"
                                                    },
                                                    "replyMarkupAssembleType": {
                                                        "label": "Enter the Reply Markup"
                                                    }
                                                },
                                                "parameters": {
                                                    "__IMTCONN__": {
                                                        "data": {
                                                            "scoped": "true",
                                                            "connection": "telegram"
                                                        },
                                                        "label": "Make_Tribute_bot"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "__IMTCONN__",
                                                    "type": "account:telegram",
                                                    "label": "Connection",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "chatId",
                                                    "type": "text",
                                                    "label": "Chat ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text",
                                                    "required": true
                                                },
                                                {
                                                    "name": "messageThreadId",
                                                    "type": "number",
                                                    "label": "Message Thread ID"
                                                },
                                                {
                                                    "name": "parseMode",
                                                    "type": "select",
                                                    "label": "Parse Mode",
                                                    "validate": {
                                                        "enum": [
                                                            "Markdown",
                                                            "HTML"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "disableNotification",
                                                    "type": "boolean",
                                                    "label": "Disable Notifications"
                                                },
                                                {
                                                    "name": "disableWebPagePreview",
                                                    "type": "boolean",
                                                    "label": "Disable Link Previews"
                                                },
                                                {
                                                    "name": "replyToMessageId",
                                                    "type": "number",
                                                    "label": "Original Message ID"
                                                },
                                                {
                                                    "name": "replyMarkupAssembleType",
                                                    "type": "select",
                                                    "label": "Enter/Assemble the Reply Markup Field",
                                                    "validate": {
                                                        "enum": [
                                                            "reply_markup_enter",
                                                            "reply_markup_assemble"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "replyMarkup",
                                                    "type": "text",
                                                    "label": "Reply Markup"
                                                }
                                            ]
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            ]
        },
        "zone": "us1.make.com",
        "notes": [
            {
                "moduleIds": [
                    7
                ],
                "content": "<p>Цикл с фиксированным числом</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    }
}