Make.com/Бизнес Бот для телеграм V2 + МОДУЛЬ/Телеграм бизнес бот v2.json
{
    "name": "Бизнес бот v2",
    "flow": [
        {
            "id": 2,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1632069
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -2542,
                    "y": 108,
                    "name": "Получаем сообщение"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "бизнес тест"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 50258
            },
            "mapper": {
                "key": "{{2.business_message.chat.id}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": -2236,
                    "y": 111,
                    "name": "Проверяем, был ли диалог"
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Телеграм Бизнес"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "Id чата",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Id Threads",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 16,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {
                "datastore": 50258
            },
            "mapper": {
                "key": "{{2.business_message.chat.id}}",
                "data": {
                    "Id Threads": "{{20.`Id Threads`}}",
                    "Id чата": "{{2.business_message.chat.id}}"
                },
                "overwrite": true
            },
            "metadata": {
                "designer": {
                    "x": -1954,
                    "y": 109,
                    "name": "находим историю"
                },
                "restore": {
                    "expect": {
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "datastore": {
                            "label": "Телеграм Бизнес"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "Id чата",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "Id Threads",
                                "type": "text",
                                "label": null
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "openai-gpt-3:messageAssistantAdvanced",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3933155
            },
            "mapper": {
                "role": "user",
                "message": "{{2.business_message.text}}",
                "threadId": "{{20.`Id Threads`}}",
                "assistantId": "asst_NJdWGRByIpULogHy3DzPvaFD"
            },
            "metadata": {
                "designer": {
                    "x": -1653,
                    "y": 109,
                    "name": "Отвечаем Ассистентом"
                },
                "restore": {
                    "expect": {
                        "role": {
                            "label": "User"
                        },
                        "model": {
                            "mode": "chose"
                        },
                        "tools": {
                            "mode": "chose"
                        },
                        "image_urls": {
                            "mode": "chose"
                        },
                        "assistantId": {
                            "mode": "chose",
                            "label": "Писатель в твиттер (gpt-4o-mini)",
                            "nested": []
                        },
                        "image_files": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "truncation_strategy": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "file_search_resources": {
                            "mode": "chose"
                        },
                        "code_interpreter_resources": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "Maya"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "assistantId",
                        "type": "select",
                        "label": "Assistant",
                        "required": true
                    },
                    {
                        "name": "role",
                        "type": "select",
                        "label": "Role",
                        "required": true,
                        "validate": {
                            "enum": [
                                "user",
                                "assistant"
                            ]
                        }
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "tools",
                        "type": "select",
                        "label": "Tools",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "file_search",
                                "code_interpreter"
                            ]
                        }
                    },
                    {
                        "name": "file_search_resources",
                        "type": "select",
                        "label": "File Search Resources"
                    },
                    {
                        "name": "code_interpreter_resources",
                        "type": "select",
                        "label": "Code Interpreter Resources",
                        "multiple": true,
                        "validate": {
                            "maxItems": 20
                        }
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required",
                                "file_search",
                                "code_interpreter",
                                "function"
                            ]
                        }
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    },
                    {
                        "name": "max_prompt_tokens",
                        "type": "uinteger",
                        "label": "Max Prompt Tokens"
                    },
                    {
                        "name": "max_completion_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "auto",
                                "json_object",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "truncation_strategy",
                        "type": "select",
                        "label": "Truncation Strategy",
                        "validate": {
                            "enum": [
                                "auto",
                                "last_messages"
                            ]
                        }
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    },
                    {
                        "name": "image_files",
                        "type": "select",
                        "label": "Image Files",
                        "multiple": true
                    },
                    {
                        "name": "image_urls",
                        "spec": {
                            "name": "value",
                            "type": "url",
                            "label": "Image URL",
                            "required": true
                        },
                        "type": "array",
                        "label": "Image URLs"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "datastore:UpdateRecord",
            "version": 1,
            "parameters": {
                "datastore": 50258
            },
            "mapper": {
                "key": "{{2.business_message.chat.id}}",
                "data": {
                    "Id Threads": "{{4.thread_id}}",
                    "Id чата": "{{2.business_message.chat.id}}"
                },
                "upsert": true,
                "overwriteArrays": false
            },
            "metadata": {
                "designer": {
                    "x": -1375,
                    "y": 109,
                    "name": "Обновляем данные"
                },
                "restore": {
                    "expect": {
                        "upsert": {
                            "mode": "chose"
                        },
                        "overwriteArrays": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "datastore": {
                            "label": "Телеграм Бизнес"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "upsert",
                        "type": "boolean",
                        "label": "Insert missing record",
                        "required": true
                    },
                    {
                        "name": "overwriteArrays",
                        "type": "boolean",
                        "label": "Overwrite an existing array in the record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "Id чата",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "Id Threads",
                                "type": "text",
                                "label": null
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "app#tgbiz-yrqxr7:biz",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5430824
            },
            "mapper": {
                "chat_id": "{{2.business_message.chat.id}}",
                "message": "{{4.result}}",
                "parse_mode": "HTML",
                "reply_to_message_id": "{{2.business_message.chat.id}}",
                "business_connection_id": "{{2.business_message.business_connection_id}}"
            },
            "metadata": {
                "designer": {
                    "x": -1092,
                    "y": 106
                },
                "restore": {
                    "expect": {
                        "parse_mode": {
                            "mode": "chose",
                            "label": "HTML"
                        },
                        "disable_notification": {
                            "mode": "chose"
                        },
                        "disable_web_page_preview": {
                            "mode": "chose"
                        },
                        "allow_sending_without_reply": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "app#tgbiz-yrqxr7"
                            },
                            "label": "My v1 connection (makecastom_bot)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:app#tgbiz-yrqxr7",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "business_connection_id",
                        "type": "text",
                        "label": "Business Connection ID"
                    },
                    {
                        "name": "chat_id",
                        "type": "text",
                        "label": "Business Chat ID",
                        "required": true
                    },
                    {
                        "name": "reply_to_message_id",
                        "type": "number",
                        "label": "Reply to Message ID"
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message Text",
                        "required": true
                    },
                    {
                        "name": "parse_mode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "",
                                "Markdown",
                                "HTML",
                                "MarkdownV2"
                            ]
                        }
                    },
                    {
                        "name": "disable_web_page_preview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "disable_notification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "allow_sending_without_reply",
                        "type": "boolean",
                        "label": "Allow Sending Without Reply"
                    },
                    {
                        "name": "reply_markup",
                        "type": "json",
                        "label": "Reply Markup"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}