7 Lesson blueprint/1.7_input_GravityForm->blueprint(8).json
{
    "name": "input_GravityForm",
    "flow": [
        {
            "id": 83,
            "module": "gravity-forms:WatchEntries",
            "version": 1,
            "parameters": {
                "limit": 1,
                "form_id": "10",
                "__IMTCONN__": 4236319
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -2501,
                    "y": 15
                },
                "restore": {
                    "parameters": {
                        "form_id": {
                            "label": "7_Contact"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gravity-forms2"
                            },
                            "label": "My Gravity Forms Basic connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gravity-forms2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "form_id",
                        "type": "select",
                        "label": "Form"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Maximum number of returned entries",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Entry ID"
                            },
                            {
                                "name": "form_id",
                                "type": "text",
                                "label": "Form ID"
                            },
                            {
                                "name": "post_id",
                                "type": "text",
                                "label": "Post ID"
                            },
                            {
                                "name": "date_created",
                                "type": "date",
                                "label": "Date Created"
                            },
                            {
                                "name": "date_updated",
                                "type": "date",
                                "label": "Date Updated"
                            },
                            {
                                "name": "is_starred",
                                "type": "number",
                                "label": "Is Starred"
                            },
                            {
                                "name": "is_read",
                                "type": "number",
                                "label": "Is Read"
                            },
                            {
                                "name": "ip",
                                "type": "text",
                                "label": "IP"
                            },
                            {
                                "name": "source_url",
                                "type": "url",
                                "label": "Source URL"
                            },
                            {
                                "name": "user_agent",
                                "type": "text",
                                "label": "User Agent"
                            },
                            {
                                "name": "currency",
                                "type": "text",
                                "label": "Currency"
                            },
                            {
                                "name": "payment_status",
                                "type": "text",
                                "label": "Payment Status"
                            },
                            {
                                "name": "payment_date",
                                "type": "text",
                                "label": "Payment Date"
                            },
                            {
                                "name": "payment_amount",
                                "type": "text",
                                "label": "Payment Amount"
                            },
                            {
                                "name": "payment_method",
                                "type": "text",
                                "label": "Payment Method"
                            },
                            {
                                "name": "transaction_id",
                                "type": "text",
                                "label": "Transaction ID"
                            },
                            {
                                "name": "is_fulfilled",
                                "type": "text",
                                "label": "Is Fulfilled"
                            },
                            {
                                "name": "created_by",
                                "type": "text",
                                "label": "Created By"
                            },
                            {
                                "name": "transaction_type",
                                "type": "text",
                                "label": "Transaction Type"
                            },
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Укажите предмет"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "Укажите продукт"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Пропал доступ"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "Напомнание"
                            },
                            {
                                "name": "26",
                                "spec": [
                                    {
                                        "name": "26.1",
                                        "type": "text",
                                        "label": "Да"
                                    }
                                ],
                                "type": "collection",
                                "label": "Условия"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": 24
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "Ссылка на сайте, где встретили проблему"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "Номер или название эпизода рассылки"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Вопрос/ дополнительная информация."
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "Ник в Телеграме"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "CAPTCHA"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    }
                ]
            }
        },
        {
            "id": 36,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4156908
            },
            "mapper": {
                "base": "apphqV53mWmQH5Tv2",
                "table": "tblr5QbcdQwO22CxQ",
                "record": {
                    "fldFEpyCB6JlJ3TS5": "{{83.metadata.id}}",
                    "fldNryCqynoN2AzPv": "{{83.answers.`4`}}",
                    "fldToEnRy8wqQD1Dv": "{{83.answers.`28`}}",
                    "fldV9BWKCQ3hMO9gp": "{{83.answers.`2`}}",
                    "fldXatVq0vUZv4aB7": "{{83.metadata.date_created}}",
                    "fldmvbz9Qiij1tkxS": "{{83.metadata.date_updated}}",
                    "flduGM3h6IL7XChD7": "{{83.answers.`7`}}",
                    "fldx2NehNqqF3iV7q": "{{83.answers.`23`}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -2129,
                    "y": 16
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Курс"
                        },
                        "table": {
                            "label": "GF_Contact",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldFEpyCB6JlJ3TS5",
                                            "type": "text",
                                            "label": "Record"
                                        },
                                        {
                                            "name": "fldV9BWKCQ3hMO9gp",
                                            "type": "text",
                                            "label": "Email"
                                        },
                                        {
                                            "name": "fldToEnRy8wqQD1Dv",
                                            "type": "text",
                                            "label": "Telegram"
                                        },
                                        {
                                            "name": "fldXatVq0vUZv4aB7",
                                            "time": true,
                                            "type": "date",
                                            "label": "Created Date"
                                        },
                                        {
                                            "name": "fldmvbz9Qiij1tkxS",
                                            "time": true,
                                            "type": "date",
                                            "label": "Update Date"
                                        },
                                        {
                                            "name": "flduGM3h6IL7XChD7",
                                            "type": "text",
                                            "label": "Subject"
                                        },
                                        {
                                            "name": "fldx2NehNqqF3iV7q",
                                            "type": "text",
                                            "label": "Product"
                                        },
                                        {
                                            "name": "fldNryCqynoN2AzPv",
                                            "type": "text",
                                            "label": "Question",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldywP6jbnSoYirJy",
                                            "type": "text",
                                            "label": "Status"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "Airtable"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldFEpyCB6JlJ3TS5",
                                "type": "text",
                                "label": "Record"
                            },
                            {
                                "name": "fldV9BWKCQ3hMO9gp",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldToEnRy8wqQD1Dv",
                                "type": "text",
                                "label": "Telegram"
                            },
                            {
                                "name": "fldXatVq0vUZv4aB7",
                                "time": true,
                                "type": "date",
                                "label": "Created Date"
                            },
                            {
                                "name": "fldmvbz9Qiij1tkxS",
                                "time": true,
                                "type": "date",
                                "label": "Update Date"
                            },
                            {
                                "name": "flduGM3h6IL7XChD7",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "fldx2NehNqqF3iV7q",
                                "type": "text",
                                "label": "Product"
                            },
                            {
                                "name": "fldNryCqynoN2AzPv",
                                "type": "text",
                                "label": "Question"
                            },
                            {
                                "name": "fldywP6jbnSoYirJy",
                                "type": "text",
                                "label": "Status"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Record",
                        "type": "text",
                        "label": "Record"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Telegram",
                        "type": "text",
                        "label": "Telegram"
                    },
                    {
                        "name": "Created Date",
                        "time": true,
                        "type": "date",
                        "label": "Created Date"
                    },
                    {
                        "name": "Update Date",
                        "time": true,
                        "type": "date",
                        "label": "Update Date"
                    },
                    {
                        "name": "Subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "Product",
                        "type": "text",
                        "label": "Product"
                    },
                    {
                        "name": "Question",
                        "type": "text",
                        "label": "Question",
                        "multiline": true
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    }
                ]
            }
        },
        {
            "id": 94,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4156908
            },
            "mapper": {
                "base": "app5VGioZdapp729W",
                "table": "tblhdqnlNCozZxyRF",
                "record": {
                    "fldBBmtfDvd2FXRcl": "GravityForm",
                    "fldFroRfSChT3vYsh": "{{83.metadata.form_id}}",
                    "fldKob9xoUNvlXsbf": "{{83.metadata.date_created}}",
                    "fldLs1BXeaT4pKI4J": "{{83.metadata.id}}",
                    "fldQVExHpq0PdH3eX": "{{83.answers.`2`}}",
                    "fldeZztU6RqKprNUu": "{{83.answers.`2`}}",
                    "fldherTwI58YVTJxL": "Форма GravityForm",
                    "fldu2xvYjAAkt4xKD": "New"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -1747,
                    "y": 6
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Агент"
                        },
                        "table": {
                            "label": "Input",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldLs1BXeaT4pKI4J",
                                            "type": "text",
                                            "label": "InputID"
                                        },
                                        {
                                            "name": "fldKob9xoUNvlXsbf",
                                            "time": true,
                                            "type": "date",
                                            "label": "InputDate"
                                        },
                                        {
                                            "name": "fldQVExHpq0PdH3eX",
                                            "type": "text",
                                            "label": "Sender",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldbaso0O1mrZjPjY",
                                            "type": "text",
                                            "label": "SenderID"
                                        },
                                        {
                                            "name": "fldFroRfSChT3vYsh",
                                            "type": "text",
                                            "label": "Subject"
                                        },
                                        {
                                            "name": "fldherTwI58YVTJxL",
                                            "type": "text",
                                            "label": "Body"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldu2xvYjAAkt4xKD",
                                            "type": "select",
                                            "label": "Status",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "New",
                                                    "value": "New"
                                                },
                                                {
                                                    "label": "In progress",
                                                    "value": "In progress"
                                                },
                                                {
                                                    "label": "Done",
                                                    "value": "Done"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldEIe2DIQ4UbGNfX",
                                            "type": "text",
                                            "label": "Recipient"
                                        },
                                        {
                                            "name": "fld7NiEL9hgvml4qT",
                                            "spec": [
                                                {
                                                    "help": "Airtable will download the file at the given url and keep its own copy of it.",
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "File URL"
                                                },
                                                {
                                                    "help": "If empty, Airtable will generate the name automatically.",
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "Attachments",
                                            "editable": true
                                        },
                                        {
                                            "name": "fldBBmtfDvd2FXRcl",
                                            "type": "text",
                                            "label": "SourceOut"
                                        },
                                        {
                                            "name": "fldeZztU6RqKprNUu",
                                            "type": "text",
                                            "label": "Reply-To"
                                        },
                                        {
                                            "name": "fldmCogUbbgJzI0Vl",
                                            "type": "text",
                                            "label": "ChannelOut"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fld7NiEL9hgvml4qT": {
                                    "mode": "chose"
                                },
                                "fldu2xvYjAAkt4xKD": {
                                    "mode": "chose",
                                    "label": "New"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "Airtable"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldLs1BXeaT4pKI4J",
                                "type": "text",
                                "label": "InputID"
                            },
                            {
                                "name": "fldKob9xoUNvlXsbf",
                                "time": true,
                                "type": "date",
                                "label": "InputDate"
                            },
                            {
                                "name": "fldQVExHpq0PdH3eX",
                                "type": "text",
                                "label": "Sender"
                            },
                            {
                                "name": "fldbaso0O1mrZjPjY",
                                "type": "text",
                                "label": "SenderID"
                            },
                            {
                                "name": "fldFroRfSChT3vYsh",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "fldherTwI58YVTJxL",
                                "type": "text",
                                "label": "Body"
                            },
                            {
                                "mode": "edit",
                                "name": "fldu2xvYjAAkt4xKD",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "fldEIe2DIQ4UbGNfX",
                                "type": "text",
                                "label": "Recipient"
                            },
                            {
                                "name": "fld7NiEL9hgvml4qT",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "name": "fldBBmtfDvd2FXRcl",
                                "type": "text",
                                "label": "SourceOut"
                            },
                            {
                                "name": "fldeZztU6RqKprNUu",
                                "type": "text",
                                "label": "Reply-To"
                            },
                            {
                                "name": "fldmCogUbbgJzI0Vl",
                                "type": "text",
                                "label": "ChannelOut"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "InputID",
                        "type": "text",
                        "label": "InputID"
                    },
                    {
                        "name": "SourceOut",
                        "type": "text",
                        "label": "SourceOut"
                    },
                    {
                        "name": "InputDate",
                        "time": true,
                        "type": "date",
                        "label": "InputDate"
                    },
                    {
                        "name": "Sender",
                        "type": "text",
                        "label": "Sender",
                        "multiline": true
                    },
                    {
                        "name": "SenderID",
                        "type": "text",
                        "label": "SenderID"
                    },
                    {
                        "name": "Subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "Body",
                        "type": "text",
                        "label": "Body"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Recipient",
                        "type": "text",
                        "label": "Recipient"
                    },
                    {
                        "name": "Attachments",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "Reply-To",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "ChannelOut",
                        "type": "text",
                        "label": "ChannelOut"
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "1_AI_Response",
                        "type": "text",
                        "label": "1_AI_Response"
                    },
                    {
                        "name": "IDAN",
                        "type": "number",
                        "label": "IDAN"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}