8 Lesson blueprint/RSS_science_Quantum Physic - https-rss.app-feed-tTzIRJIUVRTv0q5T.blueprint.json
{
    "name": "RSS_science_Quantum Physic  - https://rss.app/feed/tTzIRJIUVRTv0q5T",
    "flow": [
        {
            "id": 1,
            "module": "rss:TriggerNewArticle",
            "version": 4,
            "parameters": {
                "url": "https://rss.app/feeds/tTzIRJIUVRTv0q5T.xml",
                "gzip": true,
                "include": [],
                "password": "",
                "username": "",
                "maxResults": 10
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -79,
                    "y": 1
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "guid",
                                "type": "text",
                                "label": "guid"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            },
                            {
                                "name": "media:content",
                                "spec": [
                                    {
                                        "name": "props",
                                        "spec": [
                                            {
                                                "name": "medium",
                                                "type": "text",
                                                "label": "medium"
                                            },
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "label": "url"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Properties"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    }
                                ],
                                "type": "collection",
                                "label": "media:content"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 284,
                    "y": 15
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "regexp:HTMLToText",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "html": "{{1.description}}",
                                "newline": "lf",
                                "uppercaseHeadings": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 602,
                                    "y": -13
                                },
                                "restore": {
                                    "expect": {
                                        "newline": {
                                            "label": "LF (\\n) - Unix/Mac OS X"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "HTML"
                                    },
                                    {
                                        "name": "newline",
                                        "type": "select",
                                        "label": "Line break",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "lf",
                                                "crlf",
                                                "cr"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "uppercaseHeadings",
                                        "type": "boolean",
                                        "label": "Uppercase headings",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "regexp:AdvancedParser",
                            "version": 1,
                            "parameters": {
                                "global": false,
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false,
                                "advancedParser": true,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "text": "{{9.text}}",
                                "pattern": "\\[(https?:\\/\\/[^\\]]+)\\]"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1005,
                                    "y": -17,
                                    "name": "Извлечь URL из квадратных скобок"
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    },
                                    {
                                        "name": "advancedParser",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "regexp:AdvancedParser",
                            "version": 1,
                            "parameters": {
                                "global": false,
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false,
                                "advancedParser": true,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "text": "{{9.text}}",
                                "pattern": "\\][ ]?(.+)"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1445,
                                    "y": -18,
                                    "name": "Извлечь текст после закрывающей скобки"
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    },
                                    {
                                        "name": "advancedParser",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 4156908
                            },
                            "mapper": {
                                "base": "app5VGioZdapp729W",
                                "table": "tblkVyA5mKFYkYgKr",
                                "record": {
                                    "fld1XVLXyZc3pjj1P": "Quantum Physic",
                                    "fldVL1qId4lwBq3t1": "{{12.value}}",
                                    "fldWmixTnDlBphBOF": "{{11.value}}",
                                    "fldgdaZgf3UEg109H": "{{1.author}}",
                                    "fldjnh1iBjBWhPcjD": "{{12.value}}",
                                    "fldsTxHSARWO1ySSK": "{{1.id}}",
                                    "fldykgl2FLnzZZYRu": "{{1.date}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1897,
                                    "y": -4
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Агент"
                                        },
                                        "table": {
                                            "label": "SourceNews",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldsTxHSARWO1ySSK",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "fldjnh1iBjBWhPcjD",
                                                            "type": "text",
                                                            "label": "Content",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldgdaZgf3UEg109H",
                                                            "type": "text",
                                                            "label": "Author"
                                                        },
                                                        {
                                                            "name": "fldVL1qId4lwBq3t1",
                                                            "type": "text",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "fldykgl2FLnzZZYRu",
                                                            "time": true,
                                                            "type": "date",
                                                            "label": "Date created"
                                                        },
                                                        {
                                                            "name": "fld1XVLXyZc3pjj1P",
                                                            "type": "text",
                                                            "label": "Topic"
                                                        },
                                                        {
                                                            "name": "fldWmixTnDlBphBOF",
                                                            "type": "text",
                                                            "label": "URL_pic"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "Airtable"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldsTxHSARWO1ySSK",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "fldjnh1iBjBWhPcjD",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "fldgdaZgf3UEg109H",
                                                "type": "text",
                                                "label": "Author"
                                            },
                                            {
                                                "name": "fldVL1qId4lwBq3t1",
                                                "type": "text",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "fldykgl2FLnzZZYRu",
                                                "time": true,
                                                "type": "date",
                                                "label": "Date created"
                                            },
                                            {
                                                "name": "fld1XVLXyZc3pjj1P",
                                                "type": "text",
                                                "label": "Topic"
                                            },
                                            {
                                                "name": "fldWmixTnDlBphBOF",
                                                "type": "text",
                                                "label": "URL_pic"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "ID",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "Topic",
                                        "type": "text",
                                        "label": "Topic"
                                    },
                                    {
                                        "name": "Content",
                                        "type": "text",
                                        "label": "Content",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Author",
                                        "type": "text",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "Date created",
                                        "time": true,
                                        "type": "date",
                                        "label": "Date created"
                                    },
                                    {
                                        "name": "Created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "URL",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "URL_pic",
                                        "type": "text",
                                        "label": "URL_pic"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4204765
                            },
                            "mapper": {
                                "mode": "fromAll",
                                "values": {
                                    "0": "{{8.ID}}",
                                    "1": "{{8.Topic}}",
                                    "2": "{{8.Content}}",
                                    "3": "{{8.Author}}",
                                    "4": "{{8.`Date created`}}",
                                    "5": "{{8.URL}}",
                                    "6": "{{8.URL_pic}}"
                                },
                                "sheetId": "News",
                                "spreadsheetId": "1IIgTY9YPcg1yiTpOhQTk6ABh90KUkErEamcvfLAk-L4",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2287,
                                    "y": -9
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Select from all"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "News"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "ID (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Topic (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Content (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Author (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Date created (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "URL (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "URL_pic (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "Gmail1 (alexeykrol@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "ID (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Topic (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Content (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Author (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Date created (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "URL (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "URL_pic (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 7,
                        "module": "rss:ActionReadArticles",
                        "version": 4,
                        "parameters": {
                            "include": []
                        },
                        "mapper": {
                            "url": "https://rss.app/feeds/Sfj06XWsi7vXDwIu.xml",
                            "gzip": true,
                            "password": "",
                            "username": "",
                            "maxResults": "10",
                            "filterDateTo": "",
                            "filterDateFrom": ""
                        },
                        "metadata": {
                            "designer": {
                                "x": -87,
                                "y": 430,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {},
                            "parameters": [
                                {
                                    "name": "include",
                                    "type": "select",
                                    "label": "Process RSS fields",
                                    "multiple": true,
                                    "validate": {
                                        "enum": [
                                            "google-merchant-center",
                                            "itunes"
                                        ]
                                    }
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "url",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "User name"
                                },
                                {
                                    "name": "password",
                                    "type": "text",
                                    "label": "Password"
                                },
                                {
                                    "name": "filterDateFrom",
                                    "type": "date",
                                    "label": "Date from"
                                },
                                {
                                    "name": "filterDateTo",
                                    "type": "date",
                                    "label": "Date to "
                                },
                                {
                                    "name": "maxResults",
                                    "type": "number",
                                    "label": "Maximum number of returned items",
                                    "required": true
                                },
                                {
                                    "name": "gzip",
                                    "type": "boolean",
                                    "label": "Request compressed content",
                                    "required": true
                                }
                            ],
                            "interface": [
                                {
                                    "name": "title",
                                    "type": "text",
                                    "label": "Title"
                                },
                                {
                                    "name": "description",
                                    "type": "text",
                                    "label": "Description"
                                },
                                {
                                    "name": "summary",
                                    "type": "text",
                                    "label": "Summary"
                                },
                                {
                                    "name": "author",
                                    "type": "text",
                                    "label": "Author"
                                },
                                {
                                    "name": "url",
                                    "type": "url",
                                    "label": "URL"
                                },
                                {
                                    "name": "dateUpdated",
                                    "type": "date",
                                    "label": "Date updated"
                                },
                                {
                                    "name": "dateCreated",
                                    "type": "date",
                                    "label": "Date created"
                                },
                                {
                                    "name": "comments",
                                    "type": "url",
                                    "label": "Comments"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "url",
                                            "type": "url",
                                            "label": "URL"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                },
                                {
                                    "name": "categories",
                                    "spec": {
                                        "type": "text"
                                    },
                                    "type": "array",
                                    "label": "Categories"
                                },
                                {
                                    "name": "source",
                                    "spec": [
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "url",
                                            "type": "url",
                                            "label": "URL"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Source"
                                },
                                {
                                    "name": "enclosures",
                                    "spec": [
                                        {
                                            "name": "url",
                                            "type": "url",
                                            "label": "URL"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "length",
                                            "type": "number",
                                            "label": "Length"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Enclosures"
                                },
                                {
                                    "help": "Other RSS fields. All values are in text format.",
                                    "name": "rssFields",
                                    "spec": [
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "title"
                                        },
                                        {
                                            "name": "description",
                                            "type": "text",
                                            "label": "description"
                                        },
                                        {
                                            "name": "link",
                                            "type": "text",
                                            "label": "link"
                                        },
                                        {
                                            "name": "guid",
                                            "type": "text",
                                            "label": "guid"
                                        },
                                        {
                                            "name": "pubdate",
                                            "type": "text",
                                            "label": "pubdate"
                                        },
                                        {
                                            "name": "media:content",
                                            "spec": [
                                                {
                                                    "name": "props",
                                                    "spec": [
                                                        {
                                                            "name": "medium",
                                                            "type": "text",
                                                            "label": "medium"
                                                        },
                                                        {
                                                            "name": "url",
                                                            "type": "text",
                                                            "label": "url"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Properties"
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "media:content"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "RSS fields"
                                }
                            ],
                            "advanced": true
                        }
                    }
                ]
            ]
        },
        "zone": "us1.make.com",
        "notes": [
            {
                "moduleIds": [
                    1
                ],
                "content": "<h1>Quantum Physic  - https://rss.app/feed/tTzIRJIUVRTv0q5T</h1>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    }
}